//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.section {

  position: relative;

  &__image-list,
  &__image,
  &__video,
  &__video-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__image-list,
  &__video-list {
    margin: 0 0 30px 0;
  }

  &__video {
    position: relative;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    &[data-aspect-ratio="1-1"] {
      padding-top: math.div(1, 1) * 100%;
    }
    &[data-aspect-ratio="3-1"] {
      padding-top: math.div(1, 3) * 100%;
    }
    &[data-aspect-ratio="3-2"] {
      padding-top: math.div(2, 3) * 100%;
    }
    &[data-aspect-ratio="4-3"] {
      padding-top: math.div(3, 4) * 100%;
    }
    &[data-aspect-ratio="5-4"] {
      padding-top: math.div(4, 5) * 100%;
    }
    &[data-aspect-ratio="16-9"] {
      padding-top: math.div(9, 16) * 100%;
    }
  }

  &__video-list {}

  &--intro-with-padding {
    padding-top: 45px;
  }

  &--image-text,
  &--intro {
    .vr {
      background: rgba( var(--theme-black), 1 );
      position: absolute;
      top: 0;
      left: 50%;
      left: calc( 50% - 0.5px );
      width: 1px;
      height: 100%;
      z-index: 1;
    }
  }

  @each $name, $colour in $theme-colours {
    &--#{$name} {
      background: $colour;
      @if $name == "blue" {
        color: rgba( var(--theme-white), 1 );
        .button {
          border-color: rgba( var(--theme-white), 1 );
          color: rgba( var(--theme-white), 1 );
          &:focus,
          &:hover {
            background: rgba( var(--theme-white), 1 );
            color: $colour;
          }
        }
        .form {
          input {
            @include placeholder-color( rgba( var(--theme-white), $placeholder-text-opacity ) );
            color: rgba( var(--theme-white), 1 );
            border-color: rgba( var(--theme-white), 1 );
          }
        }
      } @else if $name == "grey" {
        color: rgba( var(--theme-black), 1 );
        .button {
          border-color: rgba( var(--theme-black), 1 );
          color: rgba( var(--theme-black), 1 );
          &:focus,
          &:hover {
            background: rgba( var(--theme-black), 1 );
            color: rgba( var(--theme-white), 1 );
          }
        }
        .form {
          input {
            @include placeholder-color( rgba( var(--theme-black), $placeholder-text-opacity ) );
            color: rgba( var(--theme-black), 1 );
            border-color: rgba( var(--theme-black), 1 );
          }
        }
      } @else if $name == "purple" {
        color: rgba( var(--theme-white), 1 );
        .button {
          border-color: rgba( var(--theme-white), 1 );
          color: rgba( var(--theme-white), 1 );
          &:focus,
          &:hover {
            background: rgba( var(--theme-white), 1 );
            color: $colour;
          }
        }
        .form {
          input {
            @include placeholder-color( rgba( var(--theme-white), $placeholder-text-opacity ) );
            color: rgba( var(--theme-white), 1 );
            border-color: rgba( var(--theme-white), 1 );
          }
        }
      } @else if $name == "yellow" {
        color: rgba( var(--theme-black), 1 );
        .button {
          border-color: rgba( var(--theme-black), 1 );
          color: rgba( var(--theme-black), 1 );
          &:focus,
          &:hover {
            background: rgba( var(--theme-black), 1 );
            color: rgba( var(--theme-white), 1 );
          }
        }
        .form {
          input {
            @include placeholder-color( rgba( var(--theme-black), $placeholder-text-opacity ) );
            color: rgba( var(--theme-black), 1 );
            border-color: rgba( var(--theme-black), 1 );
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &--intro-with-padding {
      padding-top: 60px;
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &--intro-with-padding {
      padding-top: 70px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__image-list,
    &__video-list {
      margin: 0 0 22px 0;
    }

    &--intro-with-padding {
      padding-top: 45px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__image-list,
    &__video-list {
      margin: 0 0 26px 0;
    }

    &--intro-with-padding {
      padding-top: 60px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__image-list,
    &__video-list {
      margin: 0 0 30px 0;
    }

    &--intro-with-padding {
      padding-top: 70px;
    }

  } // min width xxl

} // section
