//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

// Placeholder Text

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

// Tint ( make lighter )

@function tint( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

// Shade ( make darker )

@function shade( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}

@mixin greysacle( $value ) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter:#{"grayscale(#{$value})"};
}

@mixin brightness( $value ) {
	-webkit-filter: brightness( $value );
  filter: brightness( $value );
}

//////////////////////////////////////////////////////////
////  Button
//////////////////////////////////////////////////////////

@mixin button( $style: 'default' ) {

  font-size: var(--theme-button-font-size);
  font-family: var(--theme-font-family--sans-serif--apercu);
  transition: background 280ms, border 280ms, color 280ms, height 280ms, opacity 280ms;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 0;
  margin: 0;
  display: inline-flex;
  outline: none;
  border-radius: 0;
  background: transparent;
  letter-spacing: 0.0666em;
  line-height: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;

  &__icon {
    img, svg {
      display: block;
    }
  }

  &:focus, &:hover {
    outline: none;
  }

  &[disabled] {
    opacity: 0.3;
    cursor: no-drop;
  }

  @if $style == 'circle' {
    height: var(--theme-button-min-height);
    width: var(--theme-button-min-height);
    border-radius: 9999px;
  }

  @if $style == 'pill' {

    padding: 0 var(--theme-gutter);
    min-width: var(--theme-button-min-width);
    min-height: var(--theme-button-min-height);
    border-color: var(--theme-color-secondary);
    border-width: var(--theme-border-width);
    color: var(--theme-color-secondary);
    border-radius: 9999px;
    text-transform: uppercase;
    border-style: solid;

    &:focus,
    &:hover {
      opacity: var(--theme-opacity-on-hover);
      color: inherit;
    }

    &.button--secondary {
      &:focus,
      &:hover {
        background: var(--theme-color-secondary);
        color: var(--theme-color-primary);
        opacity: 1
      }
    }

    &.button--tertiary {
      border-color: rgba( var(--theme-yellow), 1 );
      color: rgba( var(--theme-yellow), 1 );
    }

  }

  @include media-breakpoint-up(sm) {

    font-size: var(--theme-button-font-size--sm);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--sm);
      width: var(--theme-button-min-height--sm);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--sm);
      min-height: var(--theme-button-min-height--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    font-size: var(--theme-button-font-size--md);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--md);
      width: var(--theme-button-min-height--md);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--md);
      min-height: var(--theme-button-min-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    font-size: var(--theme-button-font-size--lg);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--lg);
      width: var(--theme-button-min-height--lg);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--lg);
      min-height: var(--theme-button-min-height--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    font-size: var(--theme-button-font-size--xl);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--xl);
      width: var(--theme-button-min-height--xl);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--xl);
      min-height: var(--theme-button-min-height--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    font-size: var(--theme-button-font-size--xxl);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--xxl);
      width: var(--theme-button-min-height--xxl);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--xxl);
      min-height: var(--theme-button-min-height--xxl);
    }

  } // min width xxl

}

//////////////////////////////////////////////////////////
////  Typography | Input Placeholder
//////////////////////////////////////////////////////////

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color;
  }
}

//////////////////////////////////////////////////////////
////  Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin body-copy( $modifier: 1 ) {

  font-size: map-get( $theme-font-sizes-body-copy, 'base' ) * $modifier;
  font-weight: 300;
  line-height: 1.25;

  @include media-breakpoint-up(sm) {
    font-size: map-get( $theme-font-sizes-body-copy, 'sm' ) * $modifier;
  } // min width sm

  @include media-breakpoint-up(md) {
    font-size: map-get( $theme-font-sizes-body-copy, 'md' ) * $modifier;
  } // min width md

  @include media-breakpoint-up(lg) {
    font-size: map-get( $theme-font-sizes-body-copy, 'lg' ) * $modifier;
  } // min width lg

  @include media-breakpoint-up(xl) {
    font-size: map-get( $theme-font-sizes-body-copy, 'xl' ) * $modifier;
  } // min width xl

  @include media-breakpoint-up(xxl) {
    font-size: map-get( $theme-font-sizes-body-copy, 'xxl' ) * $modifier;
  } // min width xxl

}

// ---------------------------------------- Mono
@mixin mono( $factor: 1 ) {

  font-family: 'Apercu Mono', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 12px * $factor;
  line-height: 1;

  @include media-breakpoint-up(sm) {
    font-size: 13px * $factor;
  } // min width sm

  @include media-breakpoint-up(md) {
    font-size: 14px * $factor;
  } // min width md

  @include media-breakpoint-up(lg) {
    font-size: 11px * $factor;
  } // min width lg

  @include media-breakpoint-up(xl) {
    font-size: 12px * $factor;
  } // min width xl

  @include media-breakpoint-up(xxl) {
    font-size: 13px * $factor;
  } // min width xxl

}
