//////////////////////////////////////////////////////////
////  SCSS | Functions & Mixins
//////////////////////////////////////////////////////////

@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

//////////////////////////////////////////////////////////
////  SCSS | Vars
//////////////////////////////////////////////////////////

// UNKOWNS
$theme-header-height-smaller-ratio: 0.6;
$theme-header-height-smaller-ratio--desktop: 0.75;
$theme-sticky-featured-image-height--lg: 320px;
$theme-sticky-featured-image-height--xl: 360px;
$theme-sticky-featured-image-height--xxl: 400px;
$placeholder-text-opacity: 0.33;
$header-height-smaller-ratio: 0.6;
$header-height-smaller-ratio--desktop: 0.75;

// ---------------------------------------- Border Radius
$theme-border-radius: 4px;

// ---------------------------------------- Border Width
$theme-border-width: 1px;

// ---------------------------------------- Button | Font Size
$theme-button-font-sizes: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Button | Height
$theme-button-min-heights: (
  'base': 40px,
  'sm': 42px,
  'md': 44px,
  'lg': 40px,
  'xl': 42px,
  'xxl': 44px
);

// ---------------------------------------- Button | Height
$theme-button-min-widths: (
  'base': 136px,
  'sm': 136px,
  'md': 136px,
  'lg': 116px,
  'xl': 120px,
  'xxl': 124px
);

// ---------------------------------------- Colours
$theme-colours: (
	'white': hexToRGB( #ffffff ),
	'black': hexToRGB( #000000 ),
	'red': hexToRGB( #EA1C26 ),
	'grey': hexToRGB( #BFBFBF ),
	'blue': hexToRGB( #0056ED ),
	'purple': hexToRGB( #7D649A ),
  'yellow': hexToRGB( #FFCE00 ),
  'light-grey': hexToRGB( #E5E5E5 ),
);

// ---------------------------------------- Font Sizes | Body Copy
$theme-font-sizes-body-copy: (
  'base': 15px,
  'sm': 16px,
  'md': 17px,
  'lg': 16px,
  'xl': 17px,
  'xxl': 18px
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-heading: (
  'base': 32px,
  'sm': 42px,
  'md': 52px,
  'lg': 32px,
  'xl': 42px,
  'xxl': 52px
);

// ---------------------------------------- Header Height
$theme-header-heights: (
  'base': 100px,
  'sm': 110px,
  'md': 120px,
  'lg': 90px,
  'xl': 100px,
  'xxl': 110px
);

// ---------------------------------------- Header LEGACY
// $theme-header-heights: (
//   'base': 100px,
//   'sm': 110px,
//   'md': 110px,
//   'lg': 90px,
//   'xl': 105px,
//   'xxl': 120px
// );

$theme-header-height: map-get( $theme-header-heights, base );
$theme-header-height--sm: map-get( $theme-header-heights, sm );
$theme-header-height--md: map-get( $theme-header-heights, md );
$theme-header-height--lg: map-get( $theme-header-heights, lg );
$theme-header-height--xl: map-get( $theme-header-heights, xl );
$theme-header-height--xxl: map-get( $theme-header-heights, xxl );

// ---------------------------------------- Hero Feature Image Height
$theme-hero-featured-image-heights: (
  'base': 150px,
  'sm': 180px,
  'md': 200px,
  'lg': 320px,
  'xl': 400px,
  'xxl': 480px
);

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 20px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);

//////////////////////////////////////////////////////////
////  Root Vars
//////////////////////////////////////////////////////////

:root {

  //////////////////////////////////////////////////////////
  ////  Bootstrap
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Gutter Width
  --bs-gutter-width: #{ $grid-gutter-width };

  // ---------------------------------------- Container Breakpoints
  --bs-container-breakpoint--sm: #{ map-get( $grid-breakpoints, sm ) };
  --bs-container-breakpoint--md: #{ map-get( $grid-breakpoints, md ) };
  --bs-container-breakpoint--lg: #{ map-get( $grid-breakpoints, lg ) };
  --bs-container-breakpoint--xl: #{ map-get( $grid-breakpoints, xl ) };
  --bs-container-breakpoint--xxl: #{ map-get( $grid-breakpoints, xxl ) };

  // ---------------------------------------- Container Max Widths
  --bs-container-width--sm: #{ map-get( $container-max-widths, sm ) };
  --bs-container-width--md: #{ map-get( $container-max-widths, md ) };
  --bs-container-width--lg: #{ map-get( $container-max-widths, lg ) };
  --bs-container-width--xl: #{ map-get( $container-max-widths, xl ) };
  --bs-container-width--xxl: #{ map-get( $container-max-widths, xxl ) };

  //////////////////////////////////////////////////////////
  ////  Theme
  //////////////////////////////////////////////////////////

  --theme-gutter: 25px;

  // ---------------------------------------- Border | Radius
  --theme-border-radius: #{ $theme-border-radius };

  // ---------------------------------------- Border |  Width
  --theme-border-width: #{ $theme-border-width };

  // ---------------------------------------- Button | Font Size
  --theme-button-font-size: #{ map-get( $theme-button-font-sizes, base ) };
  --theme-button-font-size--sm: #{ map-get( $theme-button-font-sizes, sm ) };
  --theme-button-font-size--md: #{ map-get( $theme-button-font-sizes, md ) };
  --theme-button-font-size--lg: #{ map-get( $theme-button-font-sizes, lg ) };
  --theme-button-font-size--xl: #{ map-get( $theme-button-font-sizes, xl ) };
  --theme-button-font-size--xxl: #{ map-get( $theme-button-font-sizes, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-height: #{ map-get( $theme-button-min-heights, base ) };
  --theme-button-min-height--sm: #{ map-get( $theme-button-min-heights, sm ) };
  --theme-button-min-height--md: #{ map-get( $theme-button-min-heights, md ) };
  --theme-button-min-height--lg: #{ map-get( $theme-button-min-heights, lg ) };
  --theme-button-min-height--xl: #{ map-get( $theme-button-min-heights, xl ) };
  --theme-button-min-height--xxl: #{ map-get( $theme-button-min-heights, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-width: #{ map-get( $theme-button-min-widths, base ) };
  --theme-button-min-width--sm: #{ map-get( $theme-button-min-widths, sm ) };
  --theme-button-min-width--md: #{ map-get( $theme-button-min-widths, md ) };
  --theme-button-min-width--lg: #{ map-get( $theme-button-min-widths, lg ) };
  --theme-button-min-width--xl: #{ map-get( $theme-button-min-widths, xl ) };
  --theme-button-min-width--xxl: #{ map-get( $theme-button-min-widths, xxl ) };

  // ---------------------------------------- Colours
  --theme-black: #{ map-get( $theme-colours, 'black' ) };
  --theme-white: #{ map-get( $theme-colours, 'white' ) };
  --theme-red: #{ map-get( $theme-colours, 'red' ) };
	--theme-grey: #{ map-get( $theme-colours, 'grey' ) };
	--theme-blue: #{ map-get( $theme-colours, 'blue' ) };
	--theme-purple: #{ map-get( $theme-colours, 'purple' ) };
  --theme-yellow: #{ map-get( $theme-colours, 'yellow' ) };
  --theme-light-grey: #{ map-get( $theme-colours, 'light-grey' ) };

  // ---------------------------------------- Font Families
  --theme-font-family--sans-serif: sans-serif;
  --theme-font-family--serif: sans-serif;
  --theme-font-family--display: serif;

  --theme-font-family--sans-serif--apercu: 'Apercu', sans-serif;
  --theme-font-family--mono--apercu: 'Apercu Mono', sans-serif;
  --theme-font-family--display--mafra: 'Mafra Display', serif;
  --theme-font-family--display--adobe-caslon-pro: 'Adobe Caslon Pro', serif;

  // ---------------------------------------- Font Size | Body Copy
  --theme-font-size--body-copy: #{ map-get( $theme-font-sizes-body-copy, base ) };
  --theme-font-size--body-copy--sm: #{ map-get( $theme-font-sizes-body-copy, sm ) };
  --theme-font-size--body-copy--md: #{ map-get( $theme-font-sizes-body-copy, md ) };
  --theme-font-size--body-copy--lg: #{ map-get( $theme-font-sizes-body-copy, lg ) };
  --theme-font-size--body-copy--xl: #{ map-get( $theme-font-sizes-body-copy, xl ) };
  --theme-font-size--body-copy--xxl: #{ map-get( $theme-font-sizes-body-copy, xxl ) };

  // ---------------------------------------- Font Size | Heading
  --theme-font-size--heading: #{ map-get( $theme-font-sizes-heading, base ) };
  --theme-font-size--heading--sm: #{ map-get( $theme-font-sizes-heading, sm ) };
  --theme-font-size--heading--md: #{ map-get( $theme-font-sizes-heading, md ) };
  --theme-font-size--heading--lg: #{ map-get( $theme-font-sizes-heading, lg ) };
  --theme-font-size--heading--xl: #{ map-get( $theme-font-sizes-heading, xl ) };
  --theme-font-size--heading--xxl: #{ map-get( $theme-font-sizes-heading, xxl ) };

  --theme-gutter-mobile: 25px;

  // ---------------------------------------- Header Heights
  --theme-header-height: #{ map-get( $theme-header-heights, base ) };
  --theme-header-height--sm: #{ map-get( $theme-header-heights, sm ) };
  --theme-header-height--md: #{ map-get( $theme-header-heights, md ) };
  --theme-header-height--lg: #{ map-get( $theme-header-heights, lg ) };
  --theme-header-height--xl: #{ map-get( $theme-header-heights, xl ) };
  --theme-header-height--xxl: #{ map-get( $theme-header-heights, xxl ) };

  // ---------------------------------------- Header Heights Scrolled
  --theme-header-height--scolled: #{ 0.66 * map-get( $theme-header-heights, base ) };
  --theme-header-height--scolled--sm: #{ 0.66 * map-get( $theme-header-heights, sm ) };
  --theme-header-height--scolled--md: #{ 0.66 * map-get( $theme-header-heights, md ) };
  --theme-header-height--scolled--lg: #{ 0.75 * map-get( $theme-header-heights, lg ) };
  --theme-header-height--scolled--xl: #{ 0.75 * map-get( $theme-header-heights, xl ) };
  --theme-header-height--scolled--xxl: #{ 0.75 * map-get( $theme-header-heights, xxl ) };

  // ---------------------------------------- Header Logo Heights

  // ---------------------------------------- Hero Feature Image Height
  --theme-hero-featured-image-height: #{ map-get( $theme-hero-featured-image-heights, base ) };
  --theme-hero-featured-image-height--sm: #{ map-get( $theme-hero-featured-image-heights, sm ) };
  --theme-hero-featured-image-height--md: #{ map-get( $theme-hero-featured-image-heights, md ) };
  --theme-hero-featured-image-height--lg: #{ map-get( $theme-hero-featured-image-heights, lg ) };
  --theme-hero-featured-image-height--xl: #{ map-get( $theme-hero-featured-image-heights, xl ) };
  --theme-hero-featured-image-height--xxl: #{ map-get( $theme-hero-featured-image-heights, xxl ) };

  // ---------------------------------------- Opacity
  --theme-opacity-on-hover: 0.3333;

}

//////////////////////////////////////////////////////////
////  Body Vars
//////////////////////////////////////////////////////////

body {

  // ---------------------------------------- Colors
  --theme-color-primary: rgba( var(--theme-white), 1 );
  --theme-color-secondary: rgba( var(--theme-black), 1 );
  --theme-color-tertiary: rgba( var(--theme-black), 0.6 );
  --theme-link-active-primary: var(--theme-blue);

  // ---------------------------------------- Header | Logo
  --theme-header-logo-height: 48px;
  --theme-header-logo-height--lg: 60px;

  &.is-torpedo {

    // ---------------------------------------- Colors
    --theme-color-primary: rgba( var(--theme-black), 1 );
    --theme-color-secondary: rgba( var(--theme-white), 1 );
    --theme-color-tertiary: rgba( var(--theme-white), 0.6 );
    --theme-link-active-primary: var(--theme-yellow);

    // ---------------------------------------- Header | Logo
    --theme-header-logo-height: 26px;
    --theme-header-logo-height--lg: 30px;

  }

}
