//////////////////////////////////////////////////////////
////  404 | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  404 | Styles
//////////////////////////////////////////////////////////

.error-404 {

  display: flex;
  width: 100%;
  min-height: 100%;
  min-height: calc( 100vh - var(--theme-header-height) );
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .heading {
    font-family: var(--theme-font-family--sans-serif--apercu);
    margin: 0;
    & + .message {
      margin-top: 8px;
    }
  }

  &__content {
    text-align: center;
  }

  &__cta {
    margin-top: 30px;
    text-align: center;
  }

  &__image {
    margin: auto;
    width: 200px;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .error-404__content {
      margin-top: 25px;
    }
  }

  &__main {
    height: auto;
    padding: 60px 0;
  }

  @include media-breakpoint-up(sm) {

    min-height: calc( 100vh - var(--theme-header-height--sm) );

    &__cta {
      margin-top: 35px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    min-height: calc( 100vh - var(--theme-header-height--md) );

    &__cta {
      margin-top: 40px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    min-height: calc( 100vh - var(--theme-header-height--lg) );

    &__cta {
      margin-top: 30px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    min-height: calc( 100vh - var(--theme-header-height--xl) );

    &__cta {
      margin-top: 35px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    min-height: calc( 100vh - var(--theme-header-height--xxl) );

    &__cta {
      margin-top: 40px;
    }

  } // min width xxl

}

//
//   h1 {
//     @include body-copy();
//   }
//
//   @include media-breakpoint-up(sm) {
//
//     padding-bottom: 0;
//
//     .section {
//       min-height: calc( 100vh - #{$theme-header-height--sm} );
//       &__main {
//         padding: 70px 0;
//       }
//     }
//
//   } // min width sm
//
//  @include media-breakpoint-up(md) {
//
//     padding-bottom: 0;
//
//     .section {
//       min-height: calc( 100vh - #{$theme-header-height--md} );
//       &__main {
//         padding: 80px 0;
//       }
//     }
//
//   } // min width md
//
//   @include media-breakpoint-up(lg) {
//
//     padding-bottom: 0;
//
//     .section {
//       min-height: calc( 100vh - #{$theme-header-height--lg} );
//       &__main {
//         padding: 100px 0;
//       }
//     }
//
//   } // min width lg
//
//   @include media-breakpoint-up(xl) {
//
//     padding-bottom: 0;
//
//     .section {
//       min-height: calc( 100vh - #{$theme-header-height--xl} );
//       &__main {
//         padding: 110px 0;
//       }
//     }
//
//   } // min width xl
//
//   @include media-breakpoint-up(xxl) {
//
//     padding-bottom: 0;
//
//     .section {
//       min-height: calc( 100vh - #{$theme-header-height--xxl} );
//       &__main {
//         padding: 120px 0;
//       }
//     }
//
//   } // min width xxl
//
// } // .page--404
