//////////////////////////////////////////////////////////
////  Articles | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Articles | Styles
//////////////////////////////////////////////////////////

.articles {

  .glide {
    &__controls {
      display: none;
    }
  }

  &__curated {
    .row {
      margin-bottom: calc( -1.0 * var(--theme-gutter) );
      [class^="col-"] {
        margin-bottom: var(--theme-gutter)
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .glide {
      &__controls {
        display: block;
        position: absolute;
        top: 50%;
        height: 30px;
        width: 30px;
        &.next {
          right: var(--theme-gutter);
        }
        &.prev {
          left: var(--theme-gutter);
        }
      }
    }

    &__curated {
      padding-top: calc( 2.0 * var(--theme-gutter) );
      .row {
        margin-bottom: 0;
        [class^="col-"] {
          margin-bottom: 0;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .articles
