//////////////////////////////////////////////////////////
////  Article | Variables
//////////////////////////////////////////////////////////

:root {

  --theme-article-preview-feature-image-height: 210px;
  --theme-article-preview-feature-image-height--sm: 340px;
  --theme-article-preview-feature-image-height--md: 240px;
  --theme-article-preview-feature-image-height--lg: 192px;
  --theme-article-preview-feature-image-height--xl: 240px;
  --theme-article-preview-feature-image-height--xxl: 210px;

  --theme-article-curated--feature-image-height: 220px;
  --theme-article-curated--feature-image-height--sm: 240px;
  --theme-article-curated--feature-image-height--md: 260px;
  --theme-article-curated--feature-image-height--lg: 240px;
  --theme-article-curated--feature-image-height--xl: 280px;
  --theme-article-curated--feature-image-height--xxl: 340px;

  --theme-article-featured--feature-image-height: 200px;
  --theme-article-featured--feature-image-height--sm: 240px;
  --theme-article-featured--feature-image-height--md: 280px;
  --theme-article-featured--feature-image-height--lg: 320px;
  --theme-article-featured--feature-image-height--xl: 400px;
  --theme-article-featured--feature-image-height--xxl: 480px;

}

//////////////////////////////////////////////////////////
////  Article | Styles
//////////////////////////////////////////////////////////

.article {

  .section {
    & + .section {
      margin-top: 30px;
    }
  }

  &__actions,
  &__footer,
  &__header,
  &__main {
    padding: var(--theme-gutter);
  }

  &__actions {
    display: flex;
    width: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    form {
      display: none;
    }
    .button + .button {
      margin-left: var(--theme-gutter);
    }
  }

  &__category {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
   // opacity: 0.5;
    margin: 0 0 25px;
  }

  &__category-icon,
  &__category-name {
    display: flex;
  }

  &__category-icon {
    height: 20px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
    & + .article__category-name {
      margin-left: 10px;
    }
  }

  &__category-name {
    font-size: calc( 0.78 * var(--theme-font-size--body-copy) );
    font-family: var(--theme-font-family--sans-serif--apercu);
    font-weight: 100;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    .article__spacer {
      display: inline-block;
      margin: 0 6px;
    }
  }

  &__column {
    // @include transitions-all( 280 );
  }

  &__content {
    &--wps_products {}
    .section + .section {
      margin-top: var(--theme-gutter-mobile);
      border-top: none;
    }
  }

  &__feature-image {
    border-bottom-color: var(--theme-color-secondary);
    border-bottom-width: var(--theme-border-width);
    border-bottom-style: solid;
    width: 100%;
    margin: 0;
    position: relative;
  }

  &__hero {
    .article__excerpt,
    .article__title {
      margin-top: 25px;
    }
    .meta {
      &--author-date,
      &--category-issue {
        margin-top: 36px;
      }
    }
    &-content {
      padding: 35px 25px 0;
    }
  }

  &__heading {
    &--related {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy) );
      font-family: var(--theme-font-family--sans-serif--apercu);
      font-weight: 100;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      margin: 0 0 15px 0;
    }
  }

  &__meta {
    width: 100%;
  }

  &__post-info {
    margin: 35px 0px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
    .spacer {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
    }
    &--related {
      margin: 12px 0 15px;
    }
  }

  &__related-articles {
    .article {
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      height: auto;
      flex-flow: row wrap;
      .cta {
        margin: 0;
        &:focus,
        &:hover {
          background: rgba( var(--theme-black), 1 );
          color: rgba( var(--theme-white), 1 );
        }
      }
      &__cta,
      &__info {
        width: 75%;
      }
      &__heading {
        margin-bottom: 15px;
      }
      & + .article {
        border-top-width: var(--theme-border-width);
        border-top-color: var(--theme-color-secondary);
        border-top-style: solid;
        margin-top: var(--theme-gutter);
        padding-top: var(--theme-gutter);
      }
    }
  }

  &__related-cats-list,
  &__related-cats-item {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }

  &__related-cats-list {
    width: auto;
    flex: 1;
  }

  &__related-cats-item {
    font-family: var(--theme-font-family--mono--apercu);
    font-size: calc( 0.78 * var(--theme-font-size--body-copy) );
    display: inline-block;
    width: auto;
    text-transform: uppercase;
    opacity: 0.5;
    text-transform: uppercase;
    a {
      display: inline-block;
      border-bottom: 1px solid;
      color: inherit;
      &:hover, &:focus {
        border-bottom: 1px solid transparent;
      }
    }
    & + .article__related-cats-item {
      margin-left: 10px;
    }
  }

  &__title {
    a {
      transition: color 280ms, opacity 280ms;
      color: inherit;
      &:hover {
        opacity: var(--theme-opacity-on-hover);
      }
    }
  }

  // ---------------------------------------- Curated
  &[data-style="curated"] {
    padding-top: var(--theme-gutter);
    border-top-color: var(--theme-color-secondary);
    border-top-width: var(--theme-border-width);
    border-top-style: solid;
    .article {
      &__feature-image {
        height: var(--theme-article-curated--feature-image-height);
        width: 100%;
        border-bottom: none;
      }
      &__icon {
        height: 20px;
        margin-left: auto;
        img, svg {
          display: block;
          height: 100%;
          width: auto;
        }
        svg {
          fill: var(--theme-color-secondary);
        }
      }
      &__title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px 0;
      }
    }
    .excerpt {
      margin-top: 20px;
    }
    .meta {
      margin-top: 20px;
      justify-content: flex-end;
    }
  }

  // ---------------------------------------- Featured
  &[data-style="featured"] {
    .article {
      &__content,
      &__feature-image {
        width: 100%;
      }
      &__content {
        padding: var(--theme-gutter);
        display: flex;
        flex-flow: column;
      }
      &__feature-image {
        height: var(--theme-article-featured--feature-image-height);
        border-bottom: none;
      }
      &__main {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
      }
    }
    .cta {
      margin-left: auto;
    }
    .meta {
      &--categories-issue {
        margin-bottom: 25px;
      }
      &--date-cta {
        margin-top: 20px;
      }
    }
    .title {
      & + .excerpt {
        margin-top: 18px;
      }
    }
  }

  // ---------------------------------------- Masthead
  &[data-style="masthead"] {
    .article {
      &__masthead {
        padding: var(--theme-gutter);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        &-image {
          width: 100%;
          display: block;
          margin: auto;
          img, svg {
            display: block;
            width: 100%;
            height: auto;
          }
        }
        &-message {
          width: 75%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

  // ---------------------------------------- Mobile
  &[data-style="mobile"] {
    .article {
      &__feature-image {}
    }
  }

  // ---------------------------------------- Preview
  &[data-style="preview"] {
    .article {
      &__category {
        margin-bottom: 15px;
      }
      &__cta {
        margin-left: var(--bs-gutter-width);
      }
      &__feature-image,
      &__feature-image-fallback {
        height: var(--theme-article-preview-feature-image-height);
        position: relative;
        width: 100%;
        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          &:hover {
            div {
              filter: grayscale(0);
            }
          }
        }
      }
      &__feature-image {
        div {
          transition: filter 280ms;
          filter: grayscale(100%);
        }
      }
      &__feature-image-fallback {
        div {
          border: 1px solid var(--theme-color-tertiary);
          filter: grayscale(100%) opacity(33%);
        }
      }
      &__info {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-flow: row nowrap;
        margin-top: 15px;
      }
      &__title {
        font-family: var(--theme-font-family--display--adobe-caslon-pro);
        font-weight: 500;
        font-size: 25px;
        text-transform: none;
        a {
          transition: opacity 280ms;
          color: inherit;
          &:hover {
            opacity: var(--theme-opacity-on-hover);
            color: inherit;
          }
        }
      }
    }
  }

  // ---------------------------------------- Related Articles
  &[data-style="related"] {
    .article {
      &__content {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-flow: row wrap;
        align-items: baseline;
      }
      &__cta {
        margin-top: 22px;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__category-icon {
      height: 22px;
    }

    &__category-name {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--sm) );
    }

    &__heading--related {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--sm) );
    }

    &--related {
      & + .article--related {
        margin-top: 90px;
      }
    }

    &__related-articles {
      .article {
        &__cta,
        &__info {
          width: 66%;
        }
      }
    }

    &__related-cats-item {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--sm) );
    }

    // ---------------------------------------- Curated
    &[data-style="curated"] {
      .article {
        &__feature-image {
          height: var(--theme-article-curated--feature-image-height--sm);
        }
      }
    }

    // ---------------------------------------- Featured
    &[data-style="featured"] {
      .article {
        &__feature-image {
          height: var(--theme-article-featured--feature-image-height--sm);
        }
      }
    }

    // ---------------------------------------- Masthead
    &[data-style="masthead"] {
      .article {
        &__masthead {
          padding: calc( 1.75 * var(--theme-gutter) ) var(--theme-gutter);
          &-message {
            width: 66%;
          }
        }
      }
    }

    // ---------------------------------------- Preview
    &[data-style="preview"] {
      .article {
        &__feature-image,
        &__feature-image-fallback {
          height: var(--theme-article-preview-feature-image-height--sm);
        }
        &__title {
          font-size: 28px;
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__category-icon {
      height: 24px;
    }

    &__category-name {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--md) );
    }

    &__heading--related {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--md) );
    }

    &__related-articles {
      .article {
        &__cta,
        &__info {
          width: 60%;
        }
      }
    }

    &__related-cats-item {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--md) );
    }

    // ---------------------------------------- Curated
    &[data-style="curated"] {
      .article {
        &__feature-image {
          height: var(--theme-article-curated--feature-image-height--md);
        }
        &__icon {
          height: 22px;
        }
      }
    }

    // ---------------------------------------- Featured
    &[data-style="featured"] {
      .article {
        &__feature-image {
          height: var(--theme-article-featured--feature-image-height--md);
        }
      }
    }

    // ---------------------------------------- Masthead
    &[data-style="masthead"] {
      .article {
        &__masthead {
          padding: calc( 2.0 * var(--theme-gutter) ) var(--theme-gutter);
        }
      }
    }

    // ---------------------------------------- Preview
    &[data-style="preview"] {
      .article {
        &__feature-image,
        &__feature-image-fallback {
          height: var(--theme-article-preview-feature-image-height--md);
        }
        &__title {
          font-size: 25px;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    width: 100%;
    height: auto;
    flex-flow: row nowrap;

    .section {
      & + .section {
        margin-top: 22px;
      }
    }

    .sticky-column {
      &__column {
        &:first-child {
          .sticky-column__content {
            border-right-width: 1px;
            border-right-style: solid;
          }
        }
      }
    }

    &__actions {
      padding: 0;
      padding-top: calc( 2.0 * var(--theme-gutter) );
    }

    &__category-icon {
      height: 20px;
    }

    &__category-name {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--lg) );
    }

    &__content {
      padding-top: calc( 2.0 * var(--theme-gutter) );
    }

    &__hero {
      .meta {
        &--category-issue {
          margin-top: 0;
        }
        &--author-date {
          margin-top: 36px;
        }
      }
      &-content {
        padding: 0;
      }
    }

    &__heading--related {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--lg) );
    }

    &__column {
      width: 50%;
      position: relative;
      &--left {
        top: 0;
        left: 0;
        position: fixed;
        transform: translate3d( 0, (calc($theme-header-height-smaller-ratio--desktop * var(--theme-header-height--lg))), 0 );
        padding-left: var(--theme-gutter-mobile);
        padding-right: calc( 0.5 * var(--bs-gutter-width ));
      }
      &--right {
        margin-left: auto;
        padding-top: 30px;
        padding-right: var(--theme-gutter-mobile);
        padding-bottom: 200px;
        padding-left: calc( 0.5 * var(--bs-gutter-width ));
      }
    }

    &__feature-image {
      width: calc( 100% + ( 2.0 * var(--theme-gutter) ) );
      margin: 0;
      position: relative;
      z-index: 25;
    }

    &__related-articles {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      .article {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        &__cta,
        &__info {
          width: auto;
        }
        &__info {
          padding: 0 var(--theme-gutter-mobile) 0 0;
        }
        &__post-info {
          margin: 2px 0 0 0;
        }
        & + .article {
          margin-top: 16px;
          padding-top: 16px;
        }
        .cta {
          margin-top: 0;
        }
      }
    }

    &__related-cats-item {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--lg) );
    }

    &__sizing {
      height: auto;
      min-height: 100%;
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    &--mobile {
      display: none;
    }

    &--desktop {
      display: flex;
    }

    // ---------------------------------------- Curated
    &[data-style="curated"] {
      .article {
        &__feature-image {
          height: var(--theme-article-curated--feature-image-height--lg);
        }
        &__icon {
          height: 16px;
        }
      }
    }

    // ---------------------------------------- Featured
    &[data-style="featured"] {
      .article {
        &__content,
        &__feature-image {
          height: var(--theme-article-featured--feature-image-height--lg);
          width: calc( (100% - var(--theme-gutter)) * 0.5 );
        }
        &__content {
          padding-left: 0;
          padding-right: 10%;
        }
        &__main {
          flex-flow: row nowrap;
        }
      }
      .meta {
        &--date-cta {
          margin-top: auto;
        }
      }
    }

    // ---------------------------------------- Masthead
    &[data-style="masthead"] {
      .article {
        &__masthead {
          height: var(--theme-article-featured--feature-image-height--lg);
          padding: 0 calc( 4.0 * var(--theme-gutter) );
          &-image {
            height: 70%;
            width: auto;
            img, svg {
              height: 100%;
              width: auto;
            }
          }
          &-message {
            margin: 0 auto auto;
          }
        }
      }
    }

    // ---------------------------------------- Preview
    &[data-style="preview"] {
      .article {
        &__feature-image,
        &__feature-image-fallback {
          height: var(--theme-article-preview-feature-image-height--lg);
        }
        &__title {
          font-size: 22px;
        }
      }
    }

    // ---------------------------------------- Related Articles
    &[data-style="related"] {
      .article {
        &__content {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          flex-flow: row wrap;
          align-items: baseline;
          padding-top: 0;
        }
        &__cta {
          margin-left: var(--theme-gutter);
          margin-top: 0;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .section {
      & + .section {
        margin-top: 26px;
      }
    }

    &__category-icon {
      height: 22px;
    }

    &__category-name {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--xl) );
    }

    &__heading--related {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--xl) );
    }

    &__column {
      &--left {
        transform: translate3d( 0, calc( $theme-header-height-smaller-ratio--desktop * var(--theme-header-height--xl) ), 0 );
      }
      &--right {
        padding-bottom: 300px;
      }
    }

    &__feature-image {
      height: $theme-sticky-featured-image-height--xl;
    }

    &__related-cats-item {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--xl) );
    }

    // ---------------------------------------- Curated
    &[data-style="curated"] {
      .article {
        &__feature-image {
          height: var(--theme-article-curated--feature-image-height--xl);
        }
        &__icon {
          height: 18px;
        }
      }
    }

    // ---------------------------------------- Featured
    &[data-style="featured"] {
      .article {
        &__content,
        &__feature-image {
          height: var(--theme-article-featured--feature-image-height--xl);
        }
      }
    }

    // ---------------------------------------- Masthead
    &[data-style="masthead"] {
      .article {
        &__masthead {
          height: var(--theme-article-featured--feature-image-height--xl);
        }
      }
    }

    // ---------------------------------------- Preview
    &[data-style="preview"] {
      .article {
        &__feature-image,
        &__feature-image-fallback {
          height: var(--theme-article-preview-feature-image-height--xl);
        }
        &__title {
          font-size: 26px;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .section {
      & + .section {
        margin-top: 30px;
      }
    }

    &__category-icon {
      height: 24px;
    }

    &__category-name {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--xxl) );
    }

    &__heading--related {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--xxl) );
    }

    &__column {
      &--left {
        transform: translate3d( 0, calc( $theme-header-height-smaller-ratio--desktop * var(--theme-header-height--xxl) ), 0 );
      }
      &--right {
        padding-bottom: 400px;
      }
    }

    &__feature-image {
      height: $theme-sticky-featured-image-height--xxl;
    }

    &__related-cats-item {
      font-size: calc( 0.78 * var(--theme-font-size--body-copy--xxl) );
    }

    // ---------------------------------------- Curated
    &[data-style="curated"] {
      .article {
        &__feature-image {
          height: var(--theme-article-curated--feature-image-height--xxl);
        }
        &__icon {
          height: 20px;
        }
      }
    }

    // ---------------------------------------- Featured
    &[data-style="featured"] {
      .article {
        &__content,
        &__feature-image {
          height: var(--theme-article-featured--feature-image-height--xxl);
        }
      }
    }

    // ---------------------------------------- Masthead
    &[data-style="masthead"] {
      .article {
        &__masthead {
          height: var(--theme-article-featured--feature-image-height--xxl);
        }
      }
    }

    // ---------------------------------------- Preview
    &[data-style="preview"] {
      .article {
        &__feature-image,
        &__feature-image-fallback {
          height: var(--theme-article-preview-feature-image-height--xxl);
        }
        &__title {
          font-size: 23px;
        }
      }
    }

  } // min width xxl

} // .article
