//////////////////////////////////////////////////////////
////  Body | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Body | Styles
//////////////////////////////////////////////////////////

body {

  background: var(--theme-color-primary);
  color: var(--theme-color-secondary);

	a {
		text-decoration: none;
		outline: none;
		&:focus, &:hover {
			text-decoration: none;
			outline: none;
		}
	}

  .grid {

  	margin: 0 0 18px 0;

  	.row + .row {
    	margin-top: var(--bs-gutter-width);
  	}

  	span {
    	background: rgba(0,0,0,0.075);
    	text-align: center;
    	height: 40px;
    	width: 100%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
  	}

	}

	.php-debugger pre {
  	color: rgba( var(--theme-white), 1 );
	}

	&.sticky-footer {
  	display: flex;
    min-height: 100vh;
    flex-direction: column;
    main[role="main"] {
      flex: 1;
    }
	}

  // ---------------------------------------- Mobile Menu Active
  &.mobile-menu--active {
    .mobile-menu {
      transform: translate3d( 0, 0, 0 );
    }
  }

  // ---------------------------------------- At Top
  &.scroll-position--at-top {}

  // ---------------------------------------- Scrolled
  &.scroll-position--scrolled {}

	@include media-breakpoint-up(sm) {

    // ---------------------------------------- At Top
    &.scroll-position--at-top {}

    // ---------------------------------------- Scrolled
    &.scroll-position--scrolled {}

	} // min width sm

	@include media-breakpoint-up(md) {

    // ---------------------------------------- At Top
    &.scroll-position--at-top {}

    // ---------------------------------------- Scrolled
    &.scroll-position--scrolled {}

	} // min width md

	@include media-breakpoint-up(lg) {

    // ---------------------------------------- Mobile Menu Active
    &.mobile-menu--active {
      .mobile-menu {
        transform: translate3d( 0, -100%, 0 );
      }
    }

    // ---------------------------------------- At Top
    &.scroll-position--at-top {
      .sticky-column {
        &__content-bottom {
          margin-bottom: var(--theme-header-height--lg);
        }
        &__content-top {
          margin-top: 0;
        }
      }
    }

    // ---------------------------------------- Scrolled
    &.scroll-position--scrolled {
      .mobile-menu {
        // height: calc( 100% - var(--theme-header-height--scolled--lg) );
        // top: var(--theme-header-height--scolled--lg);
      }
    }

	} // min width lg

	@include media-breakpoint-up(xl) {

    // ---------------------------------------- At Top
    &.scroll-position--at-top {
      .sticky-column {
        &__content-bottom {
          margin-bottom: var(--theme-header-height--xl);
        }
        &__content-top {
          margin-top: 0;
        }
      }
    }

    // ---------------------------------------- Scrolled
    &.scroll-position--scrolled {
      .mobile-menu {
        // height: calc( 100% - var(--theme-header-height--scolled--xl) );
        // top: var(--theme-header-height--scolled--xl);
      }
    }

	} // min width xl

	@include media-breakpoint-up(xxl) {

    // ---------------------------------------- At Top
    &.scroll-position--at-top {
      .sticky-column {
        &__content-bottom {
          margin-bottom: var(--theme-header-height--xxl);
        }
      }
    }

    // ---------------------------------------- Scrolled
    &.scroll-position--scrolled {
      .mobile-menu {
        // height: calc( 100% - var(--theme-header-height--scolled--xxl) );
        // top: var(--theme-header-height--scolled--xxl);
      }
    }

	} // min width xxl

}
