//////////////////////////////////////////////////////////
////  Cart | Vars
//////////////////////////////////////////////////////////

$cart-line-item-img-size: 85px;
$cart-line-item-img-size--sm: 85px;
$cart-line-item-img-size--md: 85px;
$cart-line-item-img-size--lg: 90px;
$cart-line-item-img-size--xl: 90px;
$cart-line-item-img-size--xxl: 100px;

$cart-button-size: 24px;
$cart-button-size--sm: 24px;
$cart-button-size--md: 24px;
$cart-button-size--lg: 26px;
$cart-button-size--xl: 26px;
$cart-button-size--xxl: 28px;

//////////////////////////////////////////////////////////
////  Cart | Styles
//////////////////////////////////////////////////////////

.cart,
.wps-cart {

  padding: var(--theme-gutter-mobile);
  font-family: var(--theme-font-family--sans-serif--apercu);

  .wps-cart-lineitem-title-content {
    font-family: var(--theme-font-family--display--adobe-caslon-pro);
  }

  .wps-cart-title {
    font-family: var(--theme-font-family--display--mafra);
  }

  .wps-cart-lineitem-title-content,
  .wps-cart-title {
    text-transform: none;
  }

  .wps-cart-lineitem-content {
    padding: 0 0 0 10px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  // ---------------------------------------- Line Item Image

  .wps-cart-lineitem {
    min-height: unset;
  }

  // ---------------------------------------- Line Item Image

  .wps-cart-lineitem-img {
    height: $cart-line-item-img-size;
    width: $cart-line-item-img-size;
  }

  // ---------------------------------------- Line Item Title & Remove

  .wps-cart-lineitem-title {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: auto !important;
    margin-top: 1px;
    .wps-cart-lineitem-title-wrapper {
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    }
    .wps-cart-lineitem-title-content,
    .wps-cart-lineitem-remove {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    .wps-cart-lineitem-remove {
      font-weight: 300;
      font-size: 10px;
      line-height: 1.2;
      position: relative;
      top: unset;
      right: unset;
    }
  }

  // ---------------------------------------- Line Item Variant

  .wps-cart-lineitem-variant-title {
    background: rgba( var(--theme-black), 1 );
    color: rgba( var(--theme-white), 1 );
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;

    height: $cart-button-size;
    width: $cart-button-size;
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    flex: initial;
    margin: 0;
    padding: 0;
  }

  // ---------------------------------------- Line Item Quantity & Price

  .wps-cart-lineitem-quantity-wrapper {
    margin-top: auto;
    > div {
      display: flex;
      flex-flow: row nowrap;
    }
    .wps-cart-lineitem-quantity-container {
      margin: 0;
      width: auto;
      & > div {
        height: auto;
      }
    }
    .wps-quantity-decrement,
    .wps-cart-lineitem-quantity,
    .wps-quantity-increment {
      width: $cart-button-size;
      height: $cart-button-size;
      max-height: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .wps-quantity-decrement,
    .wps-quantity-increment {
      font-size: inherit !important;
      padding: 0;
      ::after,
      span {
        width: $cart-button-size * 0.35;
        top: unset;
        left: unset;
        position: static;
      }
    }
    .wps-cart-lineitem-quantity {
      font-weight: 300;
      font-size: 12px;
      line-height: 1.2;
    }
    .wps-cart-lineitem-price-total-wrapper {
      margin: 0;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }
    .wps-cart-lineitem-price {
      font-weight: 300;
      font-size: 12px;
      line-height: 1;
    }
  }

  // ---------------------------------------- Cart Footer

  .wps-cart-footer {
    @include body-copy(0.95);
    line-height: 1;
  }

  .wps-total-prefix,
  .wps-total-amount {
    font-size: inherit !important;
    font-weight: normal;
  }

  .wps-total-amount {
    font-weight: 500;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @media (min-width: 600px) {} // min width 600px

 @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    // ---------------------------------------- Line Item Image

    .wps-cart-lineitem-img {
      height: $cart-line-item-img-size--lg;
      width: $cart-line-item-img-size--lg;
    }

    // ---------------------------------------- Line Item Title & Remove

    .wps-cart-lineitem-title {
      .wps-cart-lineitem-remove {
        font-size: 11px;
      }
    }

    // ---------------------------------------- Line Item Variant

    .wps-cart-lineitem-variant-title {
      height: $cart-button-size--lg;
      width: $cart-button-size--lg;
      font-size: 11px;
    }

    // ---------------------------------------- Line Item Quantity & Price

    .wps-cart-lineitem-quantity-wrapper {
      .wps-quantity-decrement,
      .wps-cart-lineitem-quantity,
      .wps-quantity-increment {
        width: $cart-button-size--lg;
        height: $cart-button-size--lg;
      }
      .wps-quantity-decrement,
      .wps-quantity-increment {
        ::after,
        span {
          width: $cart-button-size--lg * 0.35;
        }
      }
      .wps-cart-lineitem-quantity {
        font-size: 13px;
      }
      .wps-cart-lineitem-price {
        font-size: 13px;
      }
    }

    // ---------------------------------------- Cart Footer

    .wps-cart-footer {
      @include body-copy(0.95);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {

    // ---------------------------------------- Line Item Image

    .wps-cart-lineitem-img {
      height: $cart-line-item-img-size--xxl;
      width: $cart-line-item-img-size--xxl;
    }

    // ---------------------------------------- Line Item Title & Remove

    .wps-cart-lineitem-title {
      .wps-cart-lineitem-remove {
        font-size: 12px;
      }
    }

    // ---------------------------------------- Line Item Variant

    .wps-cart-lineitem-variant-title {
      height: $cart-button-size--xxl;
      width: $cart-button-size--xxl;
      font-size: 12px;
    }

    // ---------------------------------------- Line Item Quantity & Price

    .wps-cart-lineitem-quantity-wrapper {
      .wps-quantity-decrement,
      .wps-cart-lineitem-quantity,
      .wps-quantity-increment {
        width: $cart-button-size--xxl;
        height: $cart-button-size--xxl;
      }
      .wps-quantity-decrement,
      .wps-quantity-increment {
        ::after,
        span {
          width: $cart-button-size--xxl * 0.35;
        }
      }
      .wps-cart-lineitem-quantity {
        font-size: 14px;
      }
      .wps-cart-lineitem-price {
        font-size: 14px;
      }
    }

    // ---------------------------------------- Cart Footer

    .wps-cart-footer {
      @include body-copy(0.95);
    }

  } // min width xxl

} // .cart
