//////////////////////////////////////////////////////////
////  Category | Variables
//////////////////////////////////////////////////////////

$category-image: 320px;
$category-image--sm: 360px;
$category-image--md: 400px;
$category-image--lg: 260px;
$category-image--xl: 360px;
$category-image--xxl: 460px;

$category-carousel-button--lg: 40px;
$category-carousel-button--xl: 45px;
$category-carousel-button--xxl: 40px;

//////////////////////////////////////////////////////////
////  Category | Styles
//////////////////////////////////////////////////////////

.category {
  
  .article {
    
    padding: 0;
    margin: 0;
    
    &__title,
    &__excerpt {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    
    &__cta {
      border-color: rgba( var(--theme-white), 1 );
      color: rgba( var(--theme-white), 1 );
    }
    
    &__excerpt {
      color: rgba( var(--theme-white), 1 );
      padding: 0 10%;
      & + .article__cta {
        margin-top: 20px;
      }
    }
    
    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
      
    &__main {
      height: $category-image;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    
    &__title {
      width: 100%;
      position: relative;
      z-index: 1;
      color: rgba( var(--theme-white), 1 );
    }
    
  }
  
  &__button {
    height: 36px;
    width: 36px;
    background: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    &--next {
      display: none;
      position: absolute;
      top: 50%;
      margin-top: -18px;
      right: 130px;
      z-index: 25;
    }
  }
    
  @include media-breakpoint-up(sm) {
    
    .article {
      &__main {
        height: $category-image--sm;
      }
    }
    
  } // min width sm
  
 @include media-breakpoint-up(md) {
    
    .article {
      &__main {
        height: $category-image--md;
      }
    }
    
  } // min width md
  
  @include media-breakpoint-up(lg) {
    
    .article {
      
      &__cta {
        height: 40px;
        width: 96px;
        font-size: 12px;
      }
      
      &__excerpt {
        padding: 0 15%;
      }
      
      &__main {
        height: $category-image--lg;
      }
      
    }
    
    &__button {
      height: $category-carousel-button--lg;
      width: $category-carousel-button--lg;
      &--next {
        display: block;
        margin-top: -($category-carousel-button--lg * 0.5);
      }
    }
    
  } // min width lg
  
  @include media-breakpoint-up(xl) {
    
    .article {
      
      &__excerpt {
        padding: 0 20%;
      }
      
      &__main {
        height: $category-image--xl;
      }
      
    }
    
    &__button {
      height: $category-carousel-button--xl;
      width: $category-carousel-button--xl;
      &--next {
        margin-top: -($category-carousel-button--xl * 0.5);
      }
    }
    
  } // min width xl
  
  @include media-breakpoint-up(xxl) {
    
    .article {
      
      &__excerpt {
        padding: 0 25%;
      }
      
      &__main {
        height: $category-image--xxl;
      }
      
    }
    
    &__button {
      height: $category-carousel-button--xxl;
      width: $category-carousel-button--xxl;
      &--next {
        margin-top: -($category-carousel-button--xxl * 0.5);
      }
    }
    
  } // min width xxl  
  
} // .category
