//////////////////////////////////////////////////////////
////  Default Page | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Default Page | Styles
//////////////////////////////////////////////////////////

.default-page {

  padding-top: 45px;

  .form {
    &__field,
    &__row {
      width: 100%;
    }
    &__row {
      &.action {
        margin-top: 30px;
      }
      & + .form__row {
        &:not(.action) {
          margin-top: 15px;
        }
      }
    }
  }

  .vr {
    opacity: 1;
  }

  &__newsletter {
    padding: 65px 0 40px;
  }

  @include media-breakpoint-up(sm) {

    padding-top: 60px;

  } // min width sm

  @include media-breakpoint-up(md) {

    padding-top: 70px;

  } // min width md

  @include media-breakpoint-up(lg) {

    padding-top: 45px;

    &__content {
      padding: 0 50px 50px;
    }

    &__newsletter {
      padding: 60px 50px 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding-top: 60px;

    &__newsletter {
      padding: 70px 50px 0;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding-top: 70px;

    &__newsletter {
      padding: 82px 50px 0;
    }

  } // min width xxl

} // .default-page
