//////////////////////////////////////////////////////////
////  Fonts | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Fonts | Styles
//////////////////////////////////////////////////////////

@font-face {
    font-family: 'Apercu';
    src: url('<?php echo $assets_dir; ?>/fonts/Apercu-Light.eot');
    src: local('Apercu Light'), local('Apercu-Light'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Light.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Light.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Light.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Light.svg#Apercu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('<?php echo $assets_dir; ?>/fonts/Apercu.eot');
    src: local('Apercu'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu.svg#Apercu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('<?php echo $assets_dir; ?>/fonts/Apercu-Medium.eot');
    src: local('Apercu Medium'), local('Apercu-Medium'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Medium.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Medium.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Medium.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Medium.svg#Apercu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('<?php echo $assets_dir; ?>/fonts/Apercu-Bold.eot');
    src: local('Apercu Bold'), local('Apercu-Bold'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Bold.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Bold.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Bold.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Bold.svg#Apercu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('<?php echo $assets_dir; ?>/fonts/Apercu-Mono.eot');
    src: local('Apercu Mono'), local('Apercu-Mono'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Mono.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Mono.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Mono.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Mono.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/Apercu-Mono.svg#Apercu-Mono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mafra Display';
    src: url('<?php echo $assets_dir; ?>/fonts/MafraDisplay-Bold.eot');
    src: local('Mafra Display Bold'), local('MafraDisplay-Bold'),
        url('<?php echo $assets_dir; ?>/fonts/MafraDisplay-Bold.eot'),
        url('<?php echo $assets_dir; ?>/fonts/MafraDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/MafraDisplay-Bold.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/MafraDisplay-Bold.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/MafraDisplay-Bold.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/MafraDisplay-Bold.svg#MafraDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Regular.eot');
    src: local('Adobe Caslon Pro Regular'), local('ACaslonPro-Regular'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Regular.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Regular.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Regular.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Semibold.eot');
    src: local('Adobe Caslon Pro Semibold'), local('ACaslonPro-Semibold'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Semibold.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Semibold.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Semibold.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Semibold.svg#ACaslonPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Bold.eot');
    src: local('Adobe Caslon Pro Bold'), local('ACaslonPro-Bold'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Bold.woff2') format('woff2'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Bold.woff') format('woff'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Bold.ttf') format('truetype'),
        url('<?php echo $assets_dir; ?>/fonts/ACaslonPro-Bold.svg#ACaslonPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}






