//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

$font-size-override--lg: 9px;
$font-size-override--xl: 12px;
$font-size-override--xxl: 14px;

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  // background: rgba( var(--theme-light-grey), 1 );
  // color: rgba( var(--theme-black), 1 );
  border-top: 1px solid var(--theme-color-secondary);

  padding: 75px 0;
  position: relative;
  z-index: 50;

  .menu {
    a {
      display: inline-block;
      width: auto;
    }
  }

  &__brand,
  &__legal {
    opacity: 0.5;
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
    }
  }

  &__brand {
    height: 42px;
    width: auto;
    margin-top: calc( 3.0 * var(--theme-gutter-mobile) );
    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &__heading {
    @include body-copy();
    font-family: var(--theme-font-family--mono--apercu);
    letter-spacing: 0.125em;
    margin: 0 0 var(--theme-gutter-mobile) 0;
    text-transform: uppercase;
  }

  &__legal {
    margin-top: calc( 1.5 * var(--theme-gutter-mobile) );
    p {
      font-family: var(--theme-font-family--mono--apercu);
      text-transform: uppercase;
      letter-spacing: 0.125em;
    }
  }

  &__main {
    &--bottom {
      margin-top: calc( 2.5 * var(--theme-gutter-mobile) );
    }
    &--top {}
  }

  &__navigation {

    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    .menu {
      width: auto;
      display: inline-flex;
      height: auto;
      &__item,
      &__list {
        width: 100%;
        display: block;
        height: auto;
      }
      &__item + .menu__item {
        margin-top: calc( 0.5 * var(--theme-gutter-mobile) );
      }
      &__item.active a,
      a:focus,
      a:hover {
        opacity: 0.5;
      }
    }

    .menu + .menu {
      margin-left: calc( 3.0 * var(--theme-gutter-mobile) );
    }

    &--legal {
      .menu {
        a {
          opacity: 0.5
        }
        &__item.active a,
        a:focus,
        a:hover {
          opacity: 1;
        }
      }
    }

    &--main {
      flex-flow: row wrap;
      justify-content: flex-start;
      .menu {
        width: 50%;
        & + .menu {
          margin-left: 0;
        }
        &--footer-social {
          margin-top: 40px;
        }
      }
    }

  }

  &__newsletter {
    margin-top: calc( 2.5 * var(--theme-gutter-mobile) );
  }

  @include media-breakpoint-up(sm) {

    &__brand {
      margin-top: calc( 3.25 * var(--theme-gutter-mobile) );
    }

    &__heading {
      margin: 0 0 var(--theme-gutter-mobile) 0;
    }

    &__legal {
      margin-top: calc( 1.75 * var(--theme-gutter-mobile) );
    }

    &__main {
      &--bottom {
        margin-top: calc( 2.75 * var(--theme-gutter-mobile) );
      }
      &--top {}
    }

    &__navigation {

      .menu {
        &__item + .menu__item {
          margin-top: calc( 0.75 * var(--theme-gutter-mobile) );
        }
      }

      .menu + .menu {
        margin-left: calc( 3.25 * var(--theme-gutter-mobile) );
      }

      &--main {
        .menu {
          width: 33.3333%;
          & + .menu {
            margin-left: 0;
          }
          &--footer-social {
            margin-top: 0;
          }
        }
      }

    }

    &__newsletter {
      margin-top: calc( 2.75 * var(--theme-gutter-mobile) );
      width: 75%;
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &__brand {
      margin-top: calc( 3.5 * var(--theme-gutter-mobile) );
    }

    &__heading {
      margin: 0 0 var(--theme-gutter-mobile) 0;
    }

    &__legal {
      margin-top: calc( 2.0 * var(--theme-gutter-mobile) );
    }

    &__main {
      &--bottom {
        margin-top: calc( 3.0 * var(--theme-gutter-mobile) );
      }
      &--top {}
    }

    &__navigation {

      .menu {
        &__item + .menu__item {
          margin-top: calc( 1.0 * var(--theme-gutter-mobile) );
        }
      }

      .menu + .menu {
        margin-left: calc( 3.5 * var(--theme-gutter-mobile) );
      }

      &--main {
        .menu {
          width: 33.3333%;
          & + .menu {
            margin-left: 0;
          }
          &--footer-social {
            margin-top: 0;
          }
        }
      }

    }

    &__newsletter {
      margin-top: calc( 3.0 * var(--theme-gutter-mobile) );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding: 50px 0;

    &__brand,
    &__legal {
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }

    &__brand {
      height: 24px;
      margin-left: calc( 2.5 * var(--theme-gutter-mobile) );
      margin-top: 0;
    }

    &__heading {
      font-size: $font-size-override--lg + 1px;
      margin: 0 0 12.5px 0;
    }

    &__legal {
      margin-left: calc( 2.0 * var(--theme-gutter-mobile) );
      margin-top: 0;
      p {
        font-size: $font-size-override--lg;
        margin: 0;
      }
    }

    &__main {
      &--bottom {
        margin-top: var(--theme-gutter-mobile);
        display: flex;
        flex-flow: row nowrap;
        justify-items: flex-start;
        align-items: flex-end;
      }
      &--top {}
    }

    &__navigation {
      .menu {
        &__item {
          font-size: $font-size-override--lg;
        }
        &__item + .menu__item {
          margin-top: 4px;
        }
      }
      .menu + .menu {
        margin-left: 110px;
      }
      &--legal {
        margin-top: 0;
        width: auto;
        display: inline-flex;
      }
      &--main {
        .menu {
          width: auto;
          & + .menu {
            margin-left: 110px;
          }
        }
      }
    }

    &__newsletter {
      width: 35%;
      margin: 0 0 0 auto;
      .form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-flow: row no-wrap;
        input {
          font-size: $font-size-override--lg;
          padding: 4px 0;
        }
        &__button {
          margin-top: 0;
          height: 32px;
          min-height: 32px;
          width: 110px;
          min-width: 110px;
          font-size: $font-size-override--lg + 1px;
        }
        &__field {
          & + .form__field {
            margin-top: 10px;
          }
        }
        &__main {
          width: 66%;
        }
        &__error,
        &__success-message {
          font-size: $font-size-override--lg;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__brand {
      height: 32px;
      margin-left: calc( 2.5 * var(--theme-gutter-mobile) );
    }

    &__heading {
      font-size: $font-size-override--xl + 1px;
    }

    &__legal {
      margin-left: calc( 2.0 * var(--theme-gutter-mobile) );
      p {
        font-size: $font-size-override--xl;
      }
    }

    &__main {
      &--bottom {
        //margin-top: calc( 2.0 * var(--theme-gutter-mobile) );
      }
      &--top {}
    }

    &__navigation {
      .menu {
        &__item {
          font-size: $font-size-override--xl;
        }
        &__item + .menu__item {
          margin-top: 4px;
        }
      }
      .menu + .menu {
        margin-left: 130px;
      }
      &--main {
        .menu {
          & + .menu {
            margin-left: 130px;
          }
        }
      }
    }

    &__newsletter {
      .form {
        input {
          font-size: $font-size-override--xl;
          padding: 5px 0;
        }
        &__button {
          height: 38px;
          min-height: 38px;
          width: 120px;
          min-width: 120px;
          font-size: $font-size-override--xl + 1px;
        }
        &__field {
          & + .form__field {
            margin-top: 12px;
          }
        }
        &__error,
        &__success-message {
          font-size: $font-size-override--xl;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__brand {
      height: 34px;
      margin-left: calc( 2.5 * var(--theme-gutter-mobile) );
    }

    &__heading {
      font-size: $font-size-override--xxl + 1px;
    }

    &__legal {
      margin-left: calc( 2.0 * var(--theme-gutter-mobile) );
      p {
        font-size: $font-size-override--xxl;
      }
    }

    &__main {
      &--bottom {
        //margin-top: calc( 2.0 * var(--theme-gutter-mobile) );
      }
      &--top {}
    }

    &__navigation {
      .menu {
        &__item {
          font-size: $font-size-override--xxl;
        }
        &__item + .menu__item {
          margin-top: 4px;
        }
      }
      .menu + .menu {
        margin-left: 144px;
      }
      &--main {
        .menu {
          & + .menu {
            margin-left: 144px;
          }
        }
      }
    }

    &__newsletter {
      .form {
        input {
          font-size: $font-size-override--xxl;
          padding: 6px 0;
        }
        &__button {
          height: 42px;
          min-height: 42px;
          width: 130px;
          min-width: 130px;
          font-size: $font-size-override--xxl + 1px;
        }
        &__error,
        &__success-message {
          font-size: $font-size-override--xxl;
        }
      }
    }

  } // min width xxl

} // footer
