//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  background: rgba( var(--theme-grey), 1 );
  border-top-color: var(--theme-color-secondary);
  border-top-width: var(--theme-border-width);
  border-top-style: solid;
  padding: 55px 0 35px;
  position: relative;
  z-index: 50;

  &__copyright,
  .form input,
  .navigation--secondary .navigation__link {
    font-size: 10px;
  }

  &__newsletter-heading,
  .navigation--primary .navigation__link,
  .navigation--social .navigation__link {
    font-size: 13px;
  }

  .form {
    &__field,
    &__row {
      width: 100%;
    }
    &__error {
      font-size: 8px;
    }
  }

  .navigation {
    display: inline-flex;
    width: auto;
    &__item {
      width: 100%;
    }
    &__link {
      color: var(--theme-color-tertiary);
      font-family: var(--theme-font-family--mono--apercu);
      width: auto;
      display: inline-block;
      text-transform: uppercase;
      font-style: normal;
      font-weight: normal;
      &.active,
      &:hover {
        color: var(--theme-color-secondary);
      }
    }
    &--primary,
    &--social {
      flex-flow: column;
      .navigation__item {
        & + .navigation__item {
          margin-top: 18px;
        }
      }
    }
    &--secondary {
      width: 100%;
      flex-flow: row wrap;
      margin-bottom: -18px;
      .navigation__item {
        width: auto;
        margin-bottom: 18px;
        & + .navigation__item {
          margin-right: 12px;
        }
        &:first-child {
          width: 100%;
          margin-right: 0;
        }
      }
      .navigation__link {
        border-bottom-color: var(--theme-color-tertiary);
        border-bottom-width: var(--theme-border-width);
        border-bottom-style: solid;
        &.active,
        &:hover {
          color: var(--theme-color-tertiary);
          border-bottom-color: transparent;
        }
      }
    }
  }

  &__brand {
    margin-bottom: var(--theme-gutter);
    display: block;
    height: 28px;
    width: auto;
    img, svg {
      height: 100%;
      width: auto;
      display: block;
    }
    svg {
      fill: rgba( var(--theme-black), 1 );
    }
  }

  &__copyright {
    @include mono( 0.9 );
    width: 100%;
    line-height: 1.8;
    p {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      font-style: inherit;
      line-height: inherit;
      margin: 0;
      padding: 0;
    }
  }

  &__legal {
    margin-bottom: var(--theme-gutter);
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__navigation-group {
    display: flex;
    width: 100%;
    height: auto;
    justify-items: flex-start;
    align-items: flex-start;
    .navigation {
      & + .navigation {
        margin-left: 40px;
      }
    }
  }

  &__newsletter {
    max-width: 480px;
    margin-top: 36px;
    margin-bottom: 50px;
    &-heading {
      color: var(--theme-color-secondary);
      margin-bottom: 16px;
    }
  }

  @include media-breakpoint-up(sm) {

    &__copyright,
    .form input,
    .navigation--secondary .navigation__link {
      font-size: 11px;
    }

    &__newsletter-heading,
    .navigation--primary .navigation__link,
    .navigation--social .navigation__link {
      font-size: 14px;
    }

    .form {
      &__error {
        font-size: 9px;
      }
    }

    .navigation {
      &--primary,
      &--social {
        .navigation__item {
          & + .navigation__item {
            margin-top: 22px;
          }
        }
      }
      &--secondary {
        margin-bottom: -22px;
        .navigation__item {
          margin-bottom: 22px;
          & + .navigation__item {
            margin-right: 30px;
          }
        }
      }
    }

    &__navigation-group {
      .navigation {
        & + .navigation {
          margin-left: 82px;
        }
      }
    }

    &__newsletter {
      margin-top: 48px;
      margin-bottom: 60px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    padding: 65px 0 45px;

    &__copyright,
    .form input,
    .navigation--secondary .navigation__link {
      font-size: 12px;
    }

    &__newsletter-heading,
    .navigation--primary .navigation__link,
    .navigation--social .navigation__link {
      font-size: 15px;
    }

    .form {
      &__error {
        font-size: 10px;
      }
    }

    .navigation {
      &--primary,
      &--social {
        .navigation__item {
          & + .navigation__item {
            margin-top: 28px;
          }
        }
      }
      &--secondary {
        margin-bottom: -28px;
        .navigation__item {
          margin-bottom: 28px;
          & + .navigation__item {
            margin-right: 34px;
          }
        }
      }
    }

    &__navigation-group {
      .navigation {
        & + .navigation {
          margin-left: 115px;
        }
      }
    }

    &__newsletter {
      margin-top: 55px;
      margin-bottom: 70px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding: 50px 0 34px;

    &__copyright,
    .form input {
      font-size: 9px;
    }

    &__newsletter-heading,
    .navigation--primary .navigation__link,
    .navigation--secondary .navigation__link,
    .navigation--social .navigation__link {
      font-size: 11px;
    }

    .form {
      &__error {
        font-size: 8px;
      }
      &__row {
        &.action {
          margin-top: 40px;
        }
        & + .form__row {
          &:not(.action) {
            margin-top: 18px;
          }
        }
      }
    }

    .navigation {
      &--primary,
      &--secondary,
      &--social {
        flex-flow: column;
        width: 140px;
        .navigation__link {
          border-bottom: none;
          &.active,
          &:hover {
            color: inherit;
          }
        }
        .navigation__item {
          width: auto;
          & + .navigation__item {
            margin: 6px 0 0 0;
          }
        }
      }
      &--secondary {
        margin-bottom: 0;
        .navigation__item {
          &:first-child {
            width: auto;
            margin: 0;
          }
        }
      }
    }

    &__brand {
      margin: 0;
      height: 32px;
    }

    &__copyright {
      margin-left: 112px;
    }

    &__legal {
      margin: -36px 0 0 0;
      flex-flow: row nowrap;
    }

    &__navigation-group {
      .navigation {
        & + .navigation {
          margin-left: 20px;
        }
      }
    }

    &__newsletter {
      max-width: 360px;
      margin: 0 0 0 auto;
      &-heading {
        margin-bottom: 20px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__copyright,
    .form input {
      font-size: 10px;
    }

    &__newsletter-heading,
    .navigation--primary .navigation__link,
    .navigation--secondary .navigation__link,
    .navigation--social .navigation__link {
      font-size: 12px;
    }

    .form {
      &__error {
        font-size: 8px;
      }
      &__row {
        &.action {
          margin-top: 44px;
        }
      }
    }

    .navigation {
      &--primary,
      &--secondary,
      &--social {
        width: 170px;
        .navigation__item {
          & + .navigation__item {
            margin: 7px 0 0 0;
          }
        }
      }
    }

    &__brand {
      height: 34px;
    }

    &__copyright {
      margin-left: 146px;
    }

    &__legal {
      margin: -38px 0 0 0;
    }

    &__navigation-group {
      .navigation {
        & + .navigation {
          margin-left: 26px;
        }
      }
    }

    &__newsletter {
      max-width: 440px;
      &-heading {
        margin-bottom: 22px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding: 60px 0 40px;

    &__copyright,
    .form input {
      font-size: 11px;
    }

    &__newsletter-heading,
    .navigation--primary .navigation__link,
    .navigation--secondary .navigation__link,
    .navigation--social .navigation__link {
      font-size: 13px;
    }

    .form {
      &__error {
        font-size: 9px;
      }
    }

    .navigation {
      &--primary,
      &--secondary,
      &--social {
        width: 190px;
        .navigation__item {
          & + .navigation__item {
            margin: 9px 0 0 0;
          }
        }
      }
    }

    &__brand {
      height: 36px;
    }

    &__copyright {
      margin-left: 169px;
    }

    &__legal {
      margin: -40px 0 0 0;
    }

    &__navigation-group {
      .navigation {
        & + .navigation {
          margin-left: 32px;
        }
      }
    }

    &__newsletter {
      max-width: 500px;
      &-heading {
        margin-bottom: 22px;
      }
    }

  } // min width xxl

} // footer
