//////////////////////////////////////////////////////////
////  Form | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {

  input,
  textarea {
    color: var(--theme-color-secondary);
    transition: border 280ms, color 280ms, height 280ms, margin 280ms, opacity 280ms;
    outline: none;
    border: none;
    display: block;
    height: auto;
    padding: 10px;
    background: transparent;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-appearance: none;
  }

  input {
    border-bottom-width: var(--theme-border-width);
    border-bottom-style: solid;
    line-height: 0.9;
    padding-left: 0;
    padding-right: 0;
  }

  textarea {
    min-height: 300px;
  }

  .error {
    .form__error {
      opacity: 1;
    }
  }

  &__field,
  &__row {
    display: inline-flex;
  }

  &__error {
    position: absolute;
    transition: opacity 280ms;
    opacity: 0;
    right: 0;
    font-style: italic;
    padding: 6px;
    font-weight: 100;
    letter-spacing: 0.05em;
    top: 100%;
  }

  &__field {
    position: relative;
  }

  &__main {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
  }

  &__row {
    &.rude {
      display: none;
    }
    &.action {
      margin-top: 30px;
    }
    & + .form__row {
      &:not(.action) {
        margin-top: 15px;
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    input,
    textarea {
      padding: 8px;
    }

    input {
      padding-left: 0;
      padding-right: 0;
    }

    &__row {
      &.action {
        margin-top: 30px;
      }
      & + .form__row {
        &:not(.action) {
          margin-top: 15px;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .form
