//////////////////////////////////////////////////////////
////  General | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  General | Styles
//////////////////////////////////////////////////////////

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}
