//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header {

  border-bottom: 1px solid var(--theme-color-secondary);
  transition: border 280ms;
  z-index: 175;

  &__burger {
    height: 18px;
    width: auto;
    svg {
      height: 100%;
      display: block;
      width: auto;
      rect {
        fill: rgba( var(--theme-black), 1 );
      }
    }
  }

  &__brand {
    height: var(--theme-header-logo-height);
    transition: height 280ms;
    display: inline-flex;
    width: auto;
    margin: auto;
    a, img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
    a {
      transition: opacity 280ms;
      &:hover {
        opacity: var(--theme-opacity-on-hover);
      }
    }
    a {
      margin-right: -23px;
    }
  }

  &__main {
    height: var(--theme-header-height);
    transition: height 280ms;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    &.left {
      justify-content: flex-start;
    }
    &.middle {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
  }

  &.fixed {
    background: var(--theme-color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {

    &__main {
      height: var(--theme-header-height--sm);
    }


  } // min width sm

  @include media-breakpoint-up(md) {

    &__main {
      height: var(--theme-header-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .navigation {
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      &__item {
        & + .navigation__item {
          margin-left: 32px;
        }
      }
      &__link {
        font-family: var(--theme-font-family--mono--apercu);
        color: var(--theme-color-secondary);
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1;
        &.active,
        &:hover {
          color: rgba( var(--theme-link-active-primary), 1 );
        }
      }
    }

    &__brand,
    &__burger {
      margin: 0;
    }

    &__brand {
      height: var(--theme-header-logo-height--lg);
      a {
        margin-right: 0;
      }
    }

    &__main {
      height: var(--theme-header-height--lg);
      justify-content: space-between;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__main {
      height: var(--theme-header-height--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .navigation {
      &__item {
        & + .navigation__item {
          margin-left: 38px;
        }
      }
      &__link {
        font-size: 14px;
      }
    }

    &__main {
      height: var(--theme-header-height--xxl);
    }

  } // min width xxl

} // .header
