//////////////////////////////////////////////////////////
////  Issue | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Issue | Styles
//////////////////////////////////////////////////////////

.issue {

  .article {
    &__feature-image {
      border-bottom: none;
    }
  }

  &__number,
  &__topic {
    text-transform: capitalize;
  }

  &__articles-grid {
    border-top: var(--theme-border-width) solid var(--theme-color-secondary);
    padding: 48px 0;
    .row {
      margin-bottom: -40px;
      [class^=col-] {
        margin-bottom: 40px;
      }
    }
  }

  &__cta {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
  }

  &__content {
    font-family: var(--theme-font-family--sans-serif--apercu);
    color: var(--theme-color-tertiary);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 32px;
    p, li {
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__cover-image {
    display: block;
    width: calc( 100% - (2.0 * 32px) );
    height: auto;
    margin: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    a {
      &:hover {
        img {
          border: 1px solid rgba( var(--theme-link-active-primary), 1 );
        }
      }
    }
    img {
      border: 1px solid var(--theme-color-tertiary);
    }
  }

  &__date {
    margin-top: 20px;
    display: block;
  }

  &__donations {
    &-cta {
      margin-top: 42px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &-main {
      border-top-color: var(--theme-color-secondary);
      border-top-style: solid;
      border-top-width: var(--theme-border-width);
      padding: 52px 0 0 0;
    }
    &-message {
      color: var(--theme-color-secondary);
      font-family: var(--theme-font-family--display--adobe-caslon-pro);
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.3;
      text-align: center;
      margin: auto;
      p, li {
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
      }
      p {
        margin: 0;
      }
    }
  }

  &__excerpt {
    font-family: var(--theme-font-family--sans-serif--apercu);
    color: var(--theme-color-tertiary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 30px;
    p {
      color: inherit;
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      margin: 0;
    }
  }

  &__hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    &-content,
    &-image {
      width: 100%;
    }
    &-content {
      padding: 30px var(--bs-gutter-width) 50px;
    }
    &-image {
      position: relative;
    }
  }

  &__number {
    font-family: var(--theme-font-family--display--adobe-caslon-pro);
    color: var(--theme-color-tertiary);
    font-style: normal;
    font-weight: 600;
    line-height: 1.35;
    font-size: 24px;
  }

  &__topic {
    font-family: var(--theme-font-family--display--mafra);
    color: var(--theme-color-secondary);
    font-size: 36px;
    margin-top: 12px;
    font-style: normal;
    font-weight: bold;
  }

  &[data-style="preview"] {
    border-top: var(--theme-border-width) solid var(--theme-color-secondary);
    padding-top: 20px;
    .issue {
      &__number,
      &__topic {
        font-weight: 600;
        line-height: 1.35;
        font-size: 26px;
        width: 100%;
      }
      &__date {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        text-align: right;
      }
      &__hero {
        flex-flow: row wrap;
      }
      &__number {
        color: var(--theme-color-secondary);
      }
      &__topic {
        font-family: var(--theme-font-family--display--adobe-caslon-pro);
        color: var(--theme-color-tertiary);
        margin-top: 3px;
      }
      &__main {
        margin-top: 22px;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__cover-image {
      width: 100%;
    }

    &__donations {
      &-message {
        width: 85%;
        font-size: 24px;
      }
    }

    &__excerpt {
      font-size: 14px;
    }

    &__number {
      font-size: 26px;
    }

    &__topic {
      font-size: 42px;
    }

    &[data-style="preview"] {
      .issue {
        &__number,
        &__topic  {
          font-size: 22px;
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__title,
    &__topic {}

    &__donations {
      &-message {
        width: 75%;
        font-size: 28px;
      }
    }

    &__excerpt {
      font-size: 16px;
    }

    &__number {
      font-size: 30px;
    }

    &__topic {
      font-size: 48px;
    }

    &[data-style="preview"] {
      .issue {
        &__number,
        &__topic  {
          font-size: 28px;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__articles-grid {
      padding: 40px 0;
      .row {
        margin-bottom: -52px;
        [class^=col-] {
          margin-bottom: 52px;
        }
      }
    }

    &__content {
      font-size: 14px;
    }

    &__cta {
      margin-top: 32px;
    }

    &__donations {
      &-message {
        width: 50%;
        font-size: 20px;
      }
    }

    &__excerpt {
      font-size: 14px;
    }

    &__hero {
      flex-flow: row nowrap;
      &-content,
      &-image {
        width: 50%;
      }
      &-content {
        padding-top: 0;
        padding-bottom: 0;
        order: 1;
      }
      &-image {
        height: var(--theme-hero-featured-image-height--lg);
        order: 2;
      }
    }

    &__number {
      font-size: 28px;
    }

    &__topic {
      font-size: 38px;
    }

    &[data-style="preview"] {
      padding-top: 15px;
      .issue {
        &__number,
        &__topic  {
          font-size: 25px;
        }
        &__main {
          margin-top: 22px;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__content {
      font-size: 15px;
    }

    &__donations {
      &-message {
        font-size: 24px;
      }
    }

    &__excerpt {
      font-size: 15px;
    }

    &__hero {
      &-image {
        height: var(--theme-hero-featured-image-height--xl);
      }
    }

    &__number {
      font-size: 32px;
    }

    &__topic {
      font-size: 44px;
    }

    &[data-style="preview"] {
      .issue {
        &__number,
        &__topic  {
          font-size: 22px;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__content {
      font-size: 16px;
    }

    &__cta {
      margin-top: 36px;
    }

    &__donations {
      &-message {
        font-size: 27px;
      }
    }

    &__excerpt {
      font-size: 16px;
    }

    &__hero {
      &-image {
        height: var(--theme-hero-featured-image-height--xxl);
      }
    }

    &__number {
      font-size: 40px;
    }

    &__topic {
      font-size: 54px;
    }

    &[data-style="preview"] {
      .issue {
        &__number,
        &__topic  {
          font-size: 27px;
        }
      }
    }

  } // min width xxl

}
