//////////////////////////////////////////////////////////
////  Main | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Main | Styles
//////////////////////////////////////////////////////////

main {

  padding-top: var(--theme-header-height);

  &.template--page--contact-us {
    background: rgba( var(--theme-black), 1 );
  }

  &.template--archive-press,
  &.template--front-page,
  &.template--page--articles,
  &.template--page--issues,
  &.template--single-issue {
    padding-bottom: calc( 0.66 * var(--theme-header-height) );
  }

  &.scroll-position--scrolled {
    padding-top: var(--theme-header-logo-height--scrolled);
  }

  @include media-breakpoint-up(sm) {

    padding-top: var(--theme-header-height--sm);

    &.template--archive-press,
    &.template--front-page,
    &.template--page--articles,
    &.template--page--issues,
    &.template--single-issue {
      padding-bottom: calc( 0.66 * var(--theme-header-height--sm) );
    }

    &.scroll-position--scrolled {
      padding-top: var(--theme-header-logo-height--scrolled--sm);
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    padding-top: var(--theme-header-height--md);

    &.template--archive-press,
    &.template--front-page,
    &.template--page--articles,
    &.template--page--issues,
    &.template--single-issue {
      padding-bottom: calc( 0.66 * var(--theme-header-height--md) );
    }

    &.scroll-position--scrolled {
      padding-top: var(--theme-header-logo-height--scrolled--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    padding-top: var(--theme-header-height--lg);

    &.template--archive-press,
    &.template--front-page,
    &.template--page--articles,
    &.template--page--issues,
    &.template--single-issue {
      padding-bottom: calc( 0.66 * var(--theme-header-height--lg) );
    }

    &.scroll-position--scrolled {
      padding-top: var(--theme-header-logo-height--scrolled--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    padding-top: var(--theme-header-height--xl);

    &.template--archive-press,
    &.template--front-page,
    &.template--page--articles,
    &.template--page--issues,
    &.template--single-issue {
      padding-bottom: calc( 0.66 * var(--theme-header-height--xl) );
    }

    &.scroll-position--scrolled {
      padding-top: var(--theme-header-logo-height--scrolled--xl);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    padding-top: var(--theme-header-height--xxl);

    &.template--archive-press,
    &.template--front-page,
    &.template--page--articles,
    &.template--page--issues,
    &.template--single-issue {
      padding-bottom: calc( 0.66 * var(--theme-header-height--xxl) );
    }

    &.scroll-position--scrolled {
      padding-top: var(--theme-header-logo-height--scrolled--xxl);
    }

  } // min width xxl

} // main
