//////////////////////////////////////////////////////////
////  Mobile Menu | Vars
//////////////////////////////////////////////////////////

:root {

  --theme-mobile-menu-button-close-size: 18px;
  --theme-mobile-menu-button-close-size--sm: 20px;
  --theme-mobile-menu-button-close-size--md: 22px;

}

//////////////////////////////////////////////////////////
////  Mobile Menu | Styles
//////////////////////////////////////////////////////////

.mobile-menu {

  background: rgba( var(--theme-blue), 1 );
  color: rgba( var(--theme-white), 1 );
  transition: height 280ms, top 280ms, transform 280ms;
  height: 100%;
  top: 0;
  transform: translate3d( 0, -100%, 0 );
  width: 100%;
  z-index: 200;
  left: 0;
  position: fixed;
  padding: 32px 25px 25px 25px;
  margin: 0;

  .navigation {

    width: 100%;
    flex: 1;
    flex-flow: column;

    &__item {
      width: 100%;
      & + .navigation__item {
        margin-top: 20px;
      }
    }

    &__link {
      color: rgba( var(--theme-white), 1 );
      font-family: var(--theme-font-family--display--mafra);
      transition: color, 280ms, opacity 280ms;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 1;
      width: auto;
      &.active,
      &:hover {
        opacity: var(--theme-opacity-on-hover);
      }
    }

  }

  &__brand {
    height: 68px;
    width: auto;
    margin: 0 0 var(--theme-gutter) 0;
    svg {
      fill: rgba( var(--theme-white), 1 );
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__button {
    height: var(--theme-mobile-menu-button-close-size);
    width: var(--theme-mobile-menu-button-close-size);
    position: absolute;
    top: 0;
    right: 0;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    svg {
      fill: rgba( var(--theme-white), 1 );
    }
  }

  &__legal {
    @include mono( 0.9 );
    line-height: 1.8;
    color: inherit;
    p {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      font-style: inherit;
      line-height: inherit;
      margin: 0;
      padding: 0;
    }
  }

  &__main {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
  }

  &.active {
    transform: translate3d( 0, 0, 0 );
  }

  @include media-breakpoint-up(sm) {

    // height: calc( 100% - var(--theme-header-height--sm) );
    // top: var(--theme-header-height--sm);

    &__button {
      height: var(--theme-mobile-menu-button-close-size--sm);
      width: var(--theme-mobile-menu-button-close-size--sm);
    }

    &__legal {
      font-size: 12px;
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    // height: calc( 100% - var(--theme-header-height--md) );
    // top: var(--theme-header-height--md);

    &__button {
      height: var(--theme-mobile-menu-button-close-size--md);
      width: var(--theme-mobile-menu-button-close-size--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    // height: calc( 100% - var(--theme-header-height--lg) );
    // top: var(--theme-header-height--lg);

  } // min width lg

  @include media-breakpoint-up(xl) {

    // height: calc( 100% - var(--theme-header-height--xl) );
    // top: var(--theme-header-height--xl);

  } // min width xl

  @include media-breakpoint-up(xxl) {

    // height: calc( 100% - var(--theme-header-height--xxl) );
    // top: var(--theme-header-height--xxl);

  } // min width xxl

} // .mobile-menu
