//////////////////////////////////////////////////////////
////  Page | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Page | Styles
//////////////////////////////////////////////////////////

.template--page {
  
  .sticky-column {
    .vr {}
  }
  
  .section {
    @each $name, $colour in $theme-colours {
      &--#{$name} {
        @if $name == "blue" {
          .vr {
            background: rgba( var(--theme-white), 1 );
          }
        } @else if $name == "grey" {
          .vr {
            background: rgba( var(--theme-black), 1 );
          }
        } @else if $name == "purple" {
          .vr {
            background: rgba( var(--theme-white), 1 );
          }
        } @else if $name == "yellow" {
          .vr {
            background: rgba( var(--theme-black), 1 );
          }
        }
      }
    }
  }
    
  @include media-breakpoint-up(sm) {} // min width sm
  
 @include media-breakpoint-up(md) {} // min width md
  
  @include media-breakpoint-up(lg) {
    
    .sticky-column {
      .vr {
        left: unset;  
      }
    }
    
    .post-content {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
    }
    
  } // min width lg
  
  @include media-breakpoint-up(xl) {} // min width xl
  
  @include media-breakpoint-up(xxl) {} // min width xxl
	
} // .page
