//////////////////////////////////////////////////////////
////  Page | Variables
//////////////////////////////////////////////////////////

$vr-offset--lg: 66px;
$vr-offset--xl: 80px;
$vr-offset--xxl: 92px;

//////////////////////////////////////////////////////////
////  Page | Styles
//////////////////////////////////////////////////////////

.page--careers[role="main"] {

  .jobs {

    &__item,
    &__list {
      margin: 0;;
      padding: 0;
      list-style: none;
    }

    &__item {
      border-top: 1px solid var(--theme-white);
      padding: 25px 0 65px;
    }

    &__list {
      margin: 35px 0 0 0;
      border-bottom: 1px solid var(--theme-white);
    }

    &__title {
      @include body-copy();
      font-family: var(--theme-font-family--sans-serif--apercu) !important;
      margin: 0 0 22px 0;
    }

  }

  .message {
    &--intro {
      p {
        font-weight: 500;
      }
    }
  }

  .newsletter {
    padding-top: 65px;
  }

  .vr {
    display: none;
  }

  @include media-breakpoint-up(sm) {} // min width sm

 @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .jobs,
    .newsletter {
      padding: 0 50px;
    }

    .jobs {
      padding-bottom: 25px;
      &__item {
        padding: 30px 0 70px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &__list {
        border-bottom: none;
      }
    }

    .newsletter {
      padding-top: 60px;
    }

    .vr {
      background: rgba( var(--theme-white), 1 );
      height: calc( 100% - #{$vr-offset--lg} );
      top: $vr-offset--lg;
      display: block;
      width: 1px;
      position: absolute;
      right: 0;
      left: unset;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .newsletter {
      padding-top: 70px;
    }

    .vr {
      height: calc( 100% - #{$vr-offset--xl} );
      top: $vr-offset--xl;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .newsletter {
      padding-top: 82px;
    }

    .vr {
      height: calc( 100% - #{$vr-offset--xxl} );
      top: $vr-offset--xxl;
    }

  } // min width xxl

} // .page--contact-us
