//////////////////////////////////////////////////////////
////  Placeholder Content | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Placeholder Content | Styles
//////////////////////////////////////////////////////////

.placeholder-content {
	
	padding: 50px 0;
	
	.row {
			
		span {
			background: $brand-yellow;
			display: block;
			text-align: center;
			padding: 35px 0;
			width: 100%;
			color: #fff;
			line-height: 0.9;
			font-size: 12px;
		}
		
		& + .row {
			margin-top: 30px;
		}
		
		&:first-child {
			margin-top: 0;
		}
		
	}
		
	@include media-breakpoint-up(sm) {} // min width sm
	
	@include media-breakpoint-up(md) {} // min width md
	
	@include media-breakpoint-up(lg) {} // min width lg
	
	@include media-breakpoint-up(xl) {} // min width xl
	
	@include media-breakpoint-up(xxl) {} // min width xxl
	
} // .placeholder-content

