//////////////////////////////////////////////////////////
////  Scroll Position | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Scroll Position | Styles
//////////////////////////////////////////////////////////

.scroll-position {

  // ---------------------------------------- At Top
  &--at-top {}

  // ---------------------------------------- Scrolled
  &--scrolled {
    .header {
      &__brand {
        height: calc( 0.66 * var(--theme-header-logo-height) )
      }
      &__main {
        height: var(--theme-header-height--scolled);
      }
    }
    .modal {
      height: calc( 100% - var(--theme-header-height--scolled) );
      top: var(--theme-header-height--scolled);
    }
  }

  // ---------------------------------------- Scrolling Down
  &--scrolling-down {}

  @include media-breakpoint-up(sm) {

    // ---------------------------------------- At Top
    &--at-top {}

    // ---------------------------------------- Scrolled
    &--scrolled {
      .header {
        &__main {
          height: var(--theme-header-height--scolled--sm);
        }
      }
      .modal {
        height: calc( 100% - var(--theme-header-height--scolled--sm) );
        top: var(--theme-header-height--scolled--sm);
      }
    }

    // ---------------------------------------- Scrolling Down
    &--scrolling-down {}

  } // min width sm

  @include media-breakpoint-up(md) {

    // ---------------------------------------- At Top
    &--at-top {}

    // ---------------------------------------- Scrolled
    &--scrolled {
      .header {
        &__main {
          height: var(--theme-header-height--scolled--md);
        }
      }
      .modal {
        height: calc( 100% - var(--theme-header-height--scolled--md) );
        top: var(--theme-header-height--scolled--md);
      }
    }

    // ---------------------------------------- Scrolling Down
    &--scrolling-down {}

  } // min width md

  @include media-breakpoint-up(lg) {

    // ---------------------------------------- At Top
    &--at-top {}

    // ---------------------------------------- Scrolled
    &--scrolled {
      .header {
        &__brand {
          height: calc( 0.75 * var(--theme-header-logo-height--lg) )
        }
        &__main {
          height: var(--theme-header-height--scolled--lg);
        }
      }
      .modal {
        height: calc( 100% - var(--theme-header-height--scolled--lg) );
        top: var(--theme-header-height--scolled--lg);
      }
    }

    // ---------------------------------------- Scrolling Down
    &--scrolling-down {}

  } // min width lg

  @include media-breakpoint-up(xl) {

    // ---------------------------------------- At Top
    &--at-top {}

    // ---------------------------------------- Scrolled
    &--scrolled {
      .header {
        &__main {
          height: var(--theme-header-height--scolled--xl);
        }
      }
      .modal {
        height: calc( 100% - var(--theme-header-height--scolled--xl) );
        top: var(--theme-header-height--scolled--xl);
      }
    }

    // ---------------------------------------- Scrolling Down
    &--scrolling-down {}

  } // min width xl

  @include media-breakpoint-up(xxl) {

    // ---------------------------------------- At Top
    &--at-top {}

    // ---------------------------------------- Scrolled
    &--scrolled {
      .header {
        &__main {
          height: var(--theme-header-height--scolled--xxl);
        }
      }
      .modal {
        height: calc( 100% - var(--theme-header-height--scolled--xxl) );
        top: var(--theme-header-height--scolled--xxl);
      }
    }

    // ---------------------------------------- Scrolling Down
    &--scrolling-down {}

  } // min width xxl

} // .scroll-position
