.is-torpedo {

  // ---------------------------------------- Default Page
  .default-page {
    &[data-background-colour="yellow"] {
      .sticky-column__vr {
        display: none;
      }
    }
  }

  // ---------------------------------------- Footer
  .footer {
    background: var(--theme-color-primary);
    &__brand {
      svg {
        fill: rgba(var(--theme-yellow), 1);
      }
    }
  }

  // ---------------------------------------- Header
  .header {
    &__brand {
      margin: 0;
      a {
        margin-right: 0;
      }
    }
    &__burger {
      svg {
        rect {
          fill: rgba( var(--theme-yellow), 1 );
        }
      }
    }
    &__main {
      justify-content: space-between;
    }
  }

  // ---------------------------------------- Mobile Menu
  .mobile-menu {
    background: var(--theme-color-primary);
    .navigation {
      &__link {
        &.active,
        &:hover {
          color: rgba( var(--theme-yellow), 1 );
          opacity: 1;
        }
      }
    }
    &__brand,
    &__button {
      svg {
        fill: rgba( var(--theme-yellow), 1 );
      }
    }
    &__brand {
      height: 30px;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .footer {
      &__copyright {
        margin-left: 132px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .footer {
      &__copyright {
        margin-left: 166px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .footer {
      &__copyright {
        margin-left: 190px;
      }
    }

  } // min width xxl

} // .torpedo
