//////////////////////////////////////////////////////////
////  Typography | Components
//////////////////////////////////////////////////////////

@import '../components/_heading.scss';
@import '../components/_title.scss';

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
	font-family: var(--theme-font-family--sans-serif--apercu);
	font-size: var(--theme-font-size--body-copy);
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--theme-font-family--sans-serif);
	font-weight: 700;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
  line-height: 1.05;
}

ul, ol {
	padding-left: 15px;
}

ul li {
	list-style: disc;
	padding-left: 10px;
}

ul {
	padding-left: 24px;
}

ol li {
	list-style: decimal;
	padding-left: 8px;
}

p, li {
	@include body-copy;
}

.rte {

  b, strong {
    font-weight: 500;
  }

  .citation {
    font-size: 60%;
    opacity: 0.66;
    line-height: 1.5;
    display: block;
    word-break: break-all;
  }

  .heading {
    @extend .heading;
    &--modal,
    &--title {
      font-size: var(--theme-font-size--heading);
    }
    &--secondary {
      font-size:  calc( 0.7 * var(--theme-font-size--heading) );
    }
  }

	h2, h3, h4, h5, h6 {
  	font-family: var(--theme-font-family--display--adobe-caslon-pro);
  	font-size:  calc( 0.7 * var(--theme-font-size--heading) );
    font-weight: normal;
  	text-transform: none;
    margin: 0 0 20px 0;
    padding: 15px 0 0 0;
	}

  table, p, ul, ol {
    margin: 0px 0px 20px 0px;
    &:last-child {
      margin: 0;
    }
  }

  p, li {
    a {
      color: inherit;
      border-bottom: 1px solid;
      border-color: inherit;
      line-height: 1;
      &:hover {
        border-color: transparent;
      }
    }
  }

	a {
		display: inline-block;
	}

	p {
		img {
			width: 100%;
			height: auto;
			display: block;
			margin: 0px;
			padding: 0px;
			& + img {
				margin: 10px 0px 0px 0px;
			}
		}
	}

	table {
		width: 100%;
		max-width: 600px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	table, tr, td {
		border: 1px solid #BEBEBD;
	}

	td {
		padding: 1.5% 5%;
	}

  .intro-para {
    @include body-copy(1.1);
    font-family: var(--theme-font-family--display--adobe-caslon-pro);
    font-weight: 400;
  }

  .two-column-para {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    li {
      display: block;
      width: 50%;
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

}

@include media-breakpoint-up(sm) {

	.rte {

    table, p, ul, ol {
      margin: 0px 0px 22px 0px;
    }

    .heading {
      font-size: 23px;
      margin: 0 0 27px 0;
      &--modal,
      &--title {
        font-size: var(--theme-font-size--heading--sm);
      }
      &--secondary {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--sm) );
      }
    }
		h2, h3, h4, h5, h6 {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--sm) );
      margin: 0 0 22px 0;
    }
	}

} // min width sm

@include media-breakpoint-up(md) {

	.rte {

    table, p, ul, ol {
      margin: 0px 0px 24px 0px;
    }

    .heading {
      font-size: 28px;
      margin: 0 0 30px 0;
      &--modal,
      &--title {
        font-size: var(--theme-font-size--heading--md);
      }
      &--secondary {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--md) );
      }
    }
		h2, h3, h4, h5, h6 {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--md) );
      margin: 0 0 24px 0;
    }
	}

} // min width md

@include media-breakpoint-up(lg) {

	.rte {

    table, p, ul, ol {
      margin: 0px 0px 18px 0px;
    }

    .heading {
      font-size: 20px;
      margin: 0 0 25px 0;
      &--modal {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--lg) );
      }
      &--title {
        font-size: var(--theme-font-size--heading--lg);
      }
      &--secondary {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--lg) );
      }
    }
		h2, h3, h4, h5, h6 {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--lg) );
      margin: 0 0 18px 0;
    }
	}

} // min width lg

@include media-breakpoint-up(xl) {

	.rte {

    table, p, ul, ol {
      margin: 0px 0px 20px 0px;
    }

    .heading {
      font-size: 23px;
      margin: 0 0 27px 0;
      &--modal {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--xl) );
      }
      &--title {
        font-size: var(--theme-font-size--heading--xl);
      }
      &--secondary {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--xl) );
      }
    }

		h2, h3, h4, h5, h6 {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--xl) );
      margin: 0 0 20px 0;
    }

	}

} // min width xl

@include media-breakpoint-up(xxl) {

	.rte {

    table, p, ul, ol {
      margin: 0px 0px 22px 0px;
    }

    .heading {
      font-size: 28px;
      margin: 0 0 30px 0;
      &--modal {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--xxl) );
      }
      &--title {
        font-size: var(--theme-font-size--heading--xxl);
      }
      &--secondary {
        font-size:  calc( 0.7 * var(--theme-font-size--heading--xxl) );
      }
    }
		h2, h3, h4, h5, h6 {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--xxl) );
      margin: 0 0 22px 0;
      padding: 15px 0 0 0;
    }
	}

} // min width xxl
