//////////////////////////////////////////////////////////
////  Blockquote | Variables
//////////////////////////////////////////////////////////

$blockquote-height: 280px;
$blockquote-height--sm: 300px;
$blockquote-height--md: 320px;
$blockquote-height--lg: 340px;
$blockquote-height--xl: 360px;
$blockquote-height--xxl: 380px;

//////////////////////////////////////////////////////////
////  Blockquote | Styles
//////////////////////////////////////////////////////////

.blockquote {

  margin: 0;

  &__note,
  &__quote {
    width: 100%;
  }

  &__heading {
    font-family: var(--theme-font-family--display--adobe-caslon-pro) !important;
    font-weight: 600;
    margin: 0;
  }

  &__icon {
    display: block;
    height: 25px;
    margin: 0 auto;
    width: auto;
    img {
      display: block;
      height: 100%;
      width: auto;
      margin: auto;
    }
    & + .blockquote__note,
    & + .blockquote__quote {
      margin-top: 42px;
    }
  }

  &__main {
    min-height: $blockquote-height;
    width: 100%;
    padding: 35px 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  &__quote {
    width: 100%;
    & + .blockquote__note {
      margin-top: -14px;
    }
  }

  @include media-breakpoint-up(sm) {

    &__main {
      min-height: $blockquote-height--sm;
      padding: 45px 0;
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &__main {
      min-height: $blockquote-height--md;
      padding: 55px 0;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__icon {
      height: 30px;
    }

    &__main {
      min-height: $blockquote-height--lg;
      padding: 75px 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__main {
      min-height: $blockquote-height--xl;
      padding: 85px 0;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__main {
      min-height: $blockquote-height--xxl;
      padding: 95px 0;
    }

  } // min width xxl

} // .blockquote
