//////////////////////////////////////////////////////////
////  Button | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Button | Styles
//////////////////////////////////////////////////////////

.button {

  @include button();

  // ---------------------------------------- Likes
  &--likes {

    .button__count {
      color: var(--theme-color-secondary);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .button__icon {
      height: var(--theme-button-min-height);
      width: auto;
      svg {
        fill: var(--theme-color-secondary);
        height: 100%;
        width: auto;
      }
    }
    &:focus,
    &:hover {
      opacity: var(--theme-opacity-on-hover);
      color: inherit;
    }

  }

  // ---------------------------------------- Pill
  &--pill {
    @include button( 'pill' );
  }

  @include media-breakpoint-up(sm) {

    // ---------------------------------------- Likes
    &--likes {
      .button__icon {
        height: var(--theme-button-min-height--sm);
      }
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    // ---------------------------------------- Likes
    &--likes {
      .button__icon {
        height: var(--theme-button-min-height--md);
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    // ---------------------------------------- Likes
    &--likes {
      .button__icon {
        height: var(--theme-button-min-height--lg);
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    // ---------------------------------------- Likes
    &--likes {
      .button__icon {
        height: var(--theme-button-min-height--xl);
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    // ---------------------------------------- Likes
    &--likes {
      .button__icon {
        height: var(--theme-button-min-height--xxl);
      }
    }

  } // min width xxl

} // .button
