//////////////////////////////////////////////////////////
////  Categories | Vars
//////////////////////////////////////////////////////////

:root {
  --theme-categories-icon-size: 20px;
}

//////////////////////////////////////////////////////////
////  Categories | Styles
//////////////////////////////////////////////////////////

.categories {

  display: inline-flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;

  a {
    color: inherit;
  }

  &__icon {
    height: var(--theme-categories-icon-size);
    svg {
      fill: var(--theme-color-tertiary);
      display: block;
      height: 100%;
      width: auto;
    }
    & + .categories__name {
      margin-left: 12px;
    }
  }

  &__item {
    display: inline-flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
  }

  &__name {

  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
