//////////////////////////////////////////////////////////
////  Colours | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Colours | Styles
//////////////////////////////////////////////////////////

@each $name, $value in $theme-colours {

  // ---------------------------------------- Colour
  [data-colour='#{$name}'] {
    color: rgba( var( --theme-#{ $name } ), 1 );
  }

  // ---------------------------------------- Background
  [data-background-colour='#{$name}'] {

    background: rgba( var( --theme-#{ $name } ), 1 );

    &.modal {
      background: transparent;
      .modal__overlay {
        background: rgba( var( --theme-#{ $name } ), 1 );
      }
      &[data-style="notify-me"],
      &[data-style="share"] {
        .modal__overlay {
          background: rgba( var( --theme-#{ $name } ), 0.95 );
        }
      }
    }

    // ---------------------------------------- Black
    @if $name == 'black' {
      color: rgba( var(--theme-white), 1 );
      .button {
        &--pill {
          border-color: rgba( var(--theme-white), 1 );
          color: rgba( var(--theme-white), 1 );
        }
        &--secondary {
          &:focus,
          &:hover {
            background: rgba( var(--theme-white), 1 );
            color: rgba( var( --theme-#{ $name } ), 1 );
            opacity: 1
          }
        }
      }
      .form {
        input,
        textarea {
          color: rgba( var(--theme-white), 1 );
          border-color: rgba( var(--theme-white), 1 );
          @include placeholder {
            color: rgba( var(--theme-white), 0.3333 );
          }
        }
      }
    }

    // ---------------------------------------- Blue
    @if $name == 'blue' {
      color: rgba( var(--theme-white), 1 );
      .button {
        &--pill {
          border-color: rgba( var(--theme-white), 1 );
          color: rgba( var(--theme-white), 1 );
        }
        &--secondary {
          &:focus,
          &:hover {
            background: rgba( var(--theme-white), 1 );
            color: rgba( var( --theme-#{ $name } ), 1 );
            opacity: 1
          }
        }
      }
      .form {
        input,
        textarea {
          color: rgba( var(--theme-white), 1 );
          border-color: rgba( var(--theme-white), 1 );
          @include placeholder {
            color: rgba( var(--theme-white), 0.3333 );
          }
        }
      }
    }

    // ---------------------------------------- Grey
    @if $name == 'grey' {
      color: rgba( var(--theme-black), 1 );
      .button {
        &--pill {
          border-color: rgba( var(--theme-black), 1 );
          color: rgba( var(--theme-black), 1 );
        }
        &--secondary {
          &:focus,
          &:hover {
            background: rgba( var(--theme-black), 1 );
            color: rgba( var(--theme-white), 1 );
            opacity: 1
          }
        }
      }
      .form {
        input,
        textarea {
          color: rgba( var(--theme-black), 1 );
          border-color: rgba( var(--theme-black), 1 );
          @include placeholder {
            color: rgba( var(--theme-black), 0.3333 );
          }
        }
      }
    }

    // ---------------------------------------- Purple
    @if $name == 'purple' {
      color: rgba( var(--theme-white), 1 );
      .button {
        &--pill {
          border-color: rgba( var(--theme-white), 1 );
          color: rgba( var(--theme-white), 1 );
        }
        &--secondary {
          &:focus,
          &:hover {
            background: rgba( var(--theme-white), 1 );
            color: rgba( var( --theme-#{ $name } ), 1 );
            opacity: 1
          }
        }
      }
      .form {
        input,
        textarea {
          color: rgba( var(--theme-white), 1 );
          border-color: rgba( var(--theme-white), 1 );
          @include placeholder {
            color: rgba( var(--theme-white), 0.3333 );
          }
        }
      }
    }

    // ---------------------------------------- Red
    @if $name == 'red' {
      color: rgba( var(--theme-white), 1 );
      .button {
        &--pill {
          border-color: rgba( var(--theme-white), 1 );
          color: rgba( var(--theme-white), 1 );
        }
        &--secondary {
          &:focus,
          &:hover {
            background: rgba( var(--theme-white), 1 );
            color: rgba( var( --theme-#{ $name } ), 1 );
            opacity: 1
          }
        }
      }
      .form {
        input,
        textarea {
          color: rgba( var(--theme-white), 1 );
          border-color: rgba( var(--theme-white), 1 );
          @include placeholder {
            color: rgba( var(--theme-white), 0.3333 );
          }
        }
      }
    }

    // ---------------------------------------- Yellow
    @if $name == 'yellow' {
      color: rgba( var(--theme-black), 1 );
      .button {
        &--pill {
          border-color: rgba( var(--theme-black), 1 );
          color: rgba( var(--theme-black), 1 );
        }
        &--secondary {
          &:focus,
          &:hover {
            background: rgba( var(--theme-black), 1 );
            color: rgba( var(--theme-white), 1 );
            opacity: 1
          }
        }
      }
      .form {
        input,
        textarea {
          color: rgba( var(--theme-black), 1 );
          border-color: rgba( var(--theme-black), 1 );
          @include placeholder {
            color: rgba( var(--theme-black), 0.3333 );
          }
        }
      }
    }

  }

}
