//////////////////////////////////////////////////////////
////  Contact Us | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Contact Us | Styles
//////////////////////////////////////////////////////////

.contact-us {

  &__connect {
    padding-bottom: 65px;
    &-cta {
      margin-top: 30px;
    }
    &-heading {}
    &-item {
      padding-right: 10%;
      margin-bottom: 60px;
    }
    &-message {}
  }

  &__main {
    padding: 45px 0;
    &-enquiries {}
    &-heading {}
    &-message {}
  }

  @include media-breakpoint-up(sm) {

    &__connect {
      padding-bottom: 70px;
      &-cta {
        margin-top: 35px;
      }
      &-heading {}
      &-item {
        padding-right: 12.5%;
        margin-bottom: 75px;
      }
      &-message {}
    }

    &__main {
      padding: 60px 0 65px;
      &-enquiries {}
      &-heading {}
      &-message {}
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__connect {
      padding-bottom: 80px;
      &-cta {
        margin-top: 40px;
      }
      &-heading {}
      &-item {
        padding-right: 15%;
        margin-bottom: 80px;
      }
      &-message {}
    }

    &__main {
      padding: 70px 0 75px;
      &-enquiries {}
      &-heading {}
      &-message {}
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__connect {
      padding-bottom: 55px;
      &-cta {
        margin-top: 30px;
      }
      &-heading {}
      &-item {
        margin-bottom: 0;
      }
      &-message {}
    }

    &__main {
      padding: 45px 0 45px;
      &-enquiries {
        display: inline-flex;
        width: auto;
        padding: 0 0 25px 50px;
        position: relative;
        &:before {
          background: var(--theme-color-secondary);
          width: var(--theme-border-width);
          height: 100%;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &-heading {}
      &-message {}
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__connect {
      padding-bottom: 65px;
      &-cta {
        margin-top: 35px;
      }
      &-heading {}
      &-item {
        padding-right: 18%;
      }
      &-message {}
    }

    &__main {
      padding: 60px 0 45px;
      &-enquiries {}
      &-heading {}
      &-message {}
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__connect {
      padding-bottom: 75px;
      &-cta {
        margin-top: 40px;
      }
      &-heading {}
      &-item {
        padding-right: 20%;
      }
      &-message {}
    }

    &__main {
      padding: 70px 0 45px;
      &-enquiries {}
      &-heading {}
      &-message {}
    }

  } // min width xxl

} // .contact-us
