//////////////////////////////////////////////////////////
////  Checkbox | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Checkbox | Styles
//////////////////////////////////////////////////////////

.cta {

 //  margin: 30px 0 0 ;
 //
 //  @include media-breakpoint-up(sm) {
 //
 //    margin: 35px 0 0 ;
 //
 //  } // min width sm
 //
 // @include media-breakpoint-up(md) {
 //
 //    margin: 40px 0 0 ;
 //
 //  } // min width md
 //
 //  @include media-breakpoint-up(lg) {
 //
 //    margin: 30px 0 0 ;
 //
 //  } // min width lg
 //
 //  @include media-breakpoint-up(xl) {
 //
 //    margin: 35px 0 0 ;
 //
 //  } // min width xl
 //
 //  @include media-breakpoint-up(xxl) {
 //
 //    margin: 40px 0 0 ;
 //
 //  } // min width xxl

} // .cta
