//////////////////////////////////////////////////////////
////  Curated Articles | Vars
//////////////////////////////////////////////////////////

$article-image: 220px;
$article-image--sm: 240px;
$article-image--md: 260px;
$article-image--lg: 240px;
$article-image--xl: 280px;
$article-image--xxl: 340px;

//////////////////////////////////////////////////////////
////  Curated Articles | Styles
//////////////////////////////////////////////////////////

.curated-articles {

  padding: 0 0 50px 0;

  &__article {
    border-top-color: rgba( var(--theme-black), 1 );
    border-top-width: 1px;
    border-top-style: solid;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
  }

  &__cta {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    margin: 10px 0 0 0;
    span, a {
      opacity: 1;
      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  &__excerpt {
    opacity: 0.4;
    margin: 20px 0 0 0;
  }

  &__image {
    height: $article-image;
    display: block;
    width: 100%;
    position: relative;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    a {
      color: inherit;
      &:hover {
        opacity: 0.5;
      }
    }
    &.heading {
      line-height: 1 !important;
      margin: 0 0 10px 0;
      line-height: 0.9;
    }
  }

  &__heading-copy,
  &__heading-icon {
    display: block;
  }

  &__heading-copy {
    font-family: var(--theme-font-family--display--adobe-caslon-pro);
    font-weight: normal;
  }

  &__heading-icon {
    height: 20px;
    width: auto;
    opacity: 0.5;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  @include media-breakpoint-up(sm) {

    &__article {
      padding: 22px 0 0 0;
      margin: 22px 0 0 0;
    }

    &__excerpt {
      margin: 22px 0 0 0;
    }

    &__image {
      height: $article-image--sm;
    }

    &__heading {
      &.heading {
        font-size: calc( 0.55 * var(--theme-font-size--heading--sm) );
      }
    }

    &__heading-icon {
      height: 21px;
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &__article {
      padding: 24px 0 0 0;
      margin: 24px 0 0 0;
    }

    &__excerpt {
      margin: 24px 0 0 0;
    }

    &__image {
      height: $article-image--md;
    }

    &__heading {
      &.heading {
        font-size: calc( 0.5 * var(--theme-font-size--heading--md) );
      }
    }

    &__heading-icon {
      height: 22px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__article {
      padding: 20px 0 0 0;
      margin: 40px 0 0 0;
    }

    &__excerpt {
      margin: 20px 0 0 0;
    }

    &__image {
      height: $article-image--lg;
    }

    &__heading {
      &.heading {
        font-size: calc( 0.5 * var(--theme-font-size--heading--lg) );
      }
    }

    &__heading-icon {
      height: 15px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__article {
      padding: 22px 0 0 0;
      margin: 45px 0 0 0;
    }

    &__excerpt {
      margin: 22px 0 0 0;
    }

    &__image {
      height: $article-image--xl;
    }

    &__heading {
      &.heading {
        font-size: calc( 0.5 * var(--theme-font-size--heading--xl) );
      }
    }

    &__heading-icon {
      height: 18px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__article {
      padding: 24px 0 0 0;
      margin: 50px 0 0 0;
    }

    &__excerpt {
      margin: 24px 0 0 0;
    }

    &__image {
      height: $article-image--xxl;
    }

    &__heading {
      &.heading {
        font-size: calc( 0.5 * var(--theme-font-size--heading--xxl) );
      }
    }

    &__heading-icon {
      height: 22px;
    }

  } // min width xxl

} // .curated-articles

