//////////////////////////////////////////////////////////
////  Embedded Content | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Embedded Content | Styles
//////////////////////////////////////////////////////////

.embedded-content { 
	
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: 100%;
	
  iframe, object, embed {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
	}
	
	@include media-breakpoint-up(sm) {} // min width sm
	
	@include media-breakpoint-up(md) {} // min width md
	
	@include media-breakpoint-up(lg) {} // min width lg
	
	@include media-breakpoint-up(xl) {} // min width xl
	
	@include media-breakpoint-up(xxl) {} // min width xxl
	
} // .embedded-content
