//////////////////////////////////////////////////////////
////  Excerpt | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Excerpt | Styles
//////////////////////////////////////////////////////////

.excerpt {
  color: rgba(var(--theme-color-secondary), 0.7);
  p, li {
    margin: 0;
  }
}
