//////////////////////////////////////////////////////////
////  Flexible Content | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Flexible Content | Styles
//////////////////////////////////////////////////////////

.flexbile-content {

  .section {
    border-top-style: solid;
    border-top-color: var(--theme-color-secondary);
    border-top-width: var(--theme-border-width);
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .flexible-content
