//////////////////////////////////////////////////////////
////  Glide | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Glide | Styles
//////////////////////////////////////////////////////////

.is-torpedo {
  .glide {
    .button {
      &.prev,
      &.next {
        svg {
          border: none;
          circle {
            fill: rgba( var( --theme-light-grey), 1 );
          }
          path {
            stroke: rgba( var( --theme-black), 1 );
          }
        }
      }
    }
  }
}

.glide {

  .button {
    display: block;
    &.prev,
    &.next {
      height: 24px;
      width: 24px;
      svg {
        display: block;
        width: 100%;
        height: auto;
        border: 1px solid rgba( var(--theme-black), 1 );
        border-radius: 99999px;
        circle {
          fill: rgba( var(--theme-white), 1 );
        }
        path {
          stroke: rgba( var(--theme-black), 1 );
        }
      }
    }
    &.prev {
      transform: rotate(180deg);
    }
  }

  &__slides,
  &__slide {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__track {
    transition: height 280ms;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .button {
      &.prev,
      &.next {
        height: 30px;
        width: 30px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .glide
