//////////////////////////////////////////////////////////
////  Heading | Vars
//////////////////////////////////////////////////////////

:root {
  --theme-heading-font-size: 32px;
  --theme-heading-font-size--sm: 42px;
  --theme-heading-font-size--md: 52px;
  --theme-heading-font-size--lg: 32px;
  --theme-heading-font-size--xl: 42px;
  --theme-heading-font-size--xxl: 52px;
}

//////////////////////////////////////////////////////////
////  Heading | Styles
//////////////////////////////////////////////////////////

.heading {

  font-family: var(--theme-font-family--display--mafra);
  text-transform: none;
  line-height: 1.05;
  font-size: 20px;
  margin-bottom: 25px;

  &--blockquote {
    margin-bottom: 0;
  }

  &--article-title,
  &--modal,
  &--title {
    font-size: var(--theme-font-size--heading);
  }

  &--secondary {
    font-size:  calc( 0.7 * var(--theme-font-size--heading) );
  }

  &--title {
    font-size: var(--theme-heading-font-size);
    margin-bottom: 25px;
  }

  @include media-breakpoint-up(sm) {

    font-size: 23px;
    margin-bottom: 27px;

    &--article-title,
    &--modal,
    &--title {
      font-size: var(--theme-font-size--heading--sm);
    }

    &--secondary {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--sm) );
    }

    &--title {
      font-size: var(--theme-heading-font-size--sm);
      margin-bottom: 27px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    font-size: 28px;
    margin-bottom: 30px;

    &--article-title,
    &--modal,
    &--title {
      font-size: var(--theme-font-size--heading--md);
    }

    &--secondary {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--md) );
    }

    &--title {
      font-size: var(--theme-heading-font-size--md);
      margin-bottom: 30px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    font-size: 20px;
    margin-bottom: 25px;

    &--modal {
      font-size: calc( 0.7 * var(--theme-font-size--heading--lg) );
      font-size: 26px;
    }

    &--article-title,
    &--title {
      font-size: var(--theme-font-size--heading--lg);
    }

    &--secondary {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--lg) );
    }

    &--title {
      font-size: var(--theme-heading-font-size--lg);
      margin-bottom: 25px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    font-size: 23px;
    margin-bottom: 27px;

    &--modal {
      font-size: calc( 0.7 * var(--theme-font-size--heading--xl) );
      font-size: 33px;
    }

    &--article-title,
    &--title {
      font-size: var(--theme-font-size--heading--xl);
    }

    &--secondary {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--xl) );
    }

    &--title {
      font-size: var(--theme-heading-font-size--xl);
      margin-bottom: 27px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    font-size: 28px;
    margin-bottom: 30px;

    &--modal {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--xxl) );
      font-size: 39px;
    }

    &--article-title,
    &--title {
      font-size: var(--theme-font-size--heading--xxl);
    }

    &--secondary {
      font-size:  calc( 0.7 * var(--theme-font-size--heading--xxl) );
    }

    &--title {
      font-size: var(--theme-heading-font-size--xxl);
      margin-bottom: 30px;
    }

  } // min width xxl

} // .heading
