//////////////////////////////////////////////////////////
////  Image Text | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image Text | Styles
//////////////////////////////////////////////////////////

.image-text {

  &__content,
  &__image {
    width: 100%;
    position: relative;
  }

  &__content {
    padding: 60px var(--theme-gutter) 35px;
  }

  &__main {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  [data-style="image-left"] {}

  [data-style="image-right"] {}

  @include media-breakpoint-up(sm) {

    &__content {
      padding: 70px var(--theme-gutter) 40px;
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &__content {
      padding: 80px var(--theme-gutter) 45px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__content,
    &__image {
      width: 50%;
    }

    &__content {
      padding: 0 calc( 3.0 * var(--theme-gutter) );
    }

    &__main {
      flex-flow: row nowrap;
    }

    [data-style="image-left"] {
      .image-text {
        &__content {
          order: 2;
        }
        &__image {
          order: 1;
        }
      }
    }

    [data-style="image-right"] {
      .image-text {
        &__content {
          order: 1;
        }
        &__image {
          order: 2;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .image-text
