//////////////////////////////////////////////////////////
////  Image & Image | Vars
//////////////////////////////////////////////////////////

$image-limit: 3;

//////////////////////////////////////////////////////////
////  Image & Image | Styles
//////////////////////////////////////////////////////////

.image-feature {

  width: 100%;
  display: block;

  &__image {
    width: 100%;
    height: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__main {
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
    }

    @for $i from 1 through $image-limit {
      $width: math.div(1, $i) * 100%;
      [data-image-count="#{$i}"] {
        .image-feature__image {
          width: $width;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .image-text
