//////////////////////////////////////////////////////////
////  Intro | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Intro | Styles
//////////////////////////////////////////////////////////

.intro {

  &__content,
  &__image {
    display: block;
    width: 100%;
  }

  &__content {
    padding: 60px var(--theme-gutter) 35px;
  }

  &__cta {
    margin-top: 30px;
  }

  &__image {}

  &__main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  &__vr {
    display: none;
  }

  @include media-breakpoint-up(sm) {

    &__content {
      padding: 70px var(--theme-gutter) 40px;
    }

    &__cta {
      margin-top: 35px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__content {
      padding: 80px var(--theme-gutter) 45px;
    }

    &__cta {
      margin-top: 40px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__content,
    &__image {
      width: 50%;
    }

    &__content {
      padding: 0 calc( 3.0 * var(--theme-gutter) );
    }

    &__cta {
      margin-top: 30px;
    }

    &__main {
      flex-flow: row nowrap;
    }

    &__vr {
      background: var(--theme-color-secondary);
      width: var(--theme-border-width);
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      display: block;
    }

    &[data-style="image-left"] {
      .intro {
        &__content {
          order: 2;
        }
        &__image {
          order: 1;
        }
      }
    }

    &[data-style="image-right"] {
      .intro {
        &__content {
          order: 1;
        }
        &__image {
          order: 2;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__cta {
      margin-top: 35px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__cta {
      margin-top: 40px;
    }

  } // min width xxl

} // ,intro
