//////////////////////////////////////////////////////////
////  Issues Listing | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Issues Listing | Styles
//////////////////////////////////////////////////////////

.issues-listing {

  padding: 32px 0 0 0;

  .row--inner {
    margin-bottom: -75px;
    [class^="col-"] {
      margin-bottom: 75px;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    padding: 52px 0 0 0;

    .row--inner {
      margin-bottom: -70px;
      [class^="col-"] {
        margin-bottom: 70px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
