//////////////////////////////////////////////////////////
////  Latest Articles | Variables
//////////////////////////////////////////////////////////

$article-image: 200px;
$article-image--sm: 240px;
$article-image--md: 280px;
$article-image--lg: 320px;
$article-image--xl: 400px;
$article-image--xxl: 480px;

$article-carousel-button--lg: 30px;
$article-carousel-button--xl: 35px;
$article-carousel-button--xxl: 40px;

//////////////////////////////////////////////////////////
////  Latest Articles | Styles
//////////////////////////////////////////////////////////

.latest-articles {

  .article {

    padding: 0;

    &__excerpt {
      margin: 18px 0 0 0;
    }

    &__image {
      width: 100%;
      width: calc( 100% + ( 2.0 * var(--theme-gutter-mobile) ) );
      height: $article-image;
      left: -var(--theme-gutter-mobile);
      display: block;
      position: relative;
    }

    &__main {
      display: flex;
      flex-flow: column wrap;
      padding: 25px 0 0 0;
    }

    &__meta {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
      margin: 20px 0 0 0;
      a {
        opacity: 1;
        &:focus,
        &:hover {
          opacity: 0.5;
        }
      }
    }

    &__title {
      margin: 0;
    }

    &__post-info {
      margin: 0;
    }

  }

  .glide {
    &__track {
      transition: height 280ms;
    }
  }

  &__button {
    display: none;
  }

  @include media-breakpoint-up(sm) {

    .article {
      &__image {
        height: $article-image--sm;
      }
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    .article {
      &__image {
        height: $article-image--md;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .article {

      &__image {
        height: $article-image--lg;
        width: 100%;
        width: calc( 100% + var(--theme-gutter-mobile) );
        left: calc( -1.0 * var(--theme-gutter-mobile) );
        display: block;
        position: relative;
      }

      &__main {
        min-height: 100%;
        padding-right: 15%;
      }

      &__meta {
        align-items: flex-end;
        margin: auto 0 20px 0;
      }

    }

    &__button {
      display: block;
      width: $article-carousel-button--lg;
      height: $article-carousel-button--lg;
      background: transparent;
      position: absolute;
      top: 50%;
      right: var(--theme-gutter-mobile);
      padding: 0;
      margin: 0;
      margin-top: -1 * ($article-carousel-button--lg * 0.5);
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .article {
      &__image {
        height: $article-image--xl;
      }
      &__main {
        //padding-right: 60px;
      }
    }

    &__button {
      width: $article-carousel-button--xl;
      height: $article-carousel-button--xl;
      margin-top: -1 * ($article-carousel-button--xl * 0.5);
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .article {
      &__image {
        height: $article-image--xxl;
      }
      &__main {
        //padding-right: 70px;
      }
    }

    &__button {
      width: $article-carousel-button--xxl;
      height: $article-carousel-button--xxl;
      margin-top: -1 * ($article-carousel-button--xxl * 0.5);
    }

  } // min width xxl

} // .latest-articles
