//////////////////////////////////////////////////////////
////  Masthead | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Masthead | Styles
//////////////////////////////////////////////////////////

.masthead {

  &__image {
    padding: 30px 0;
    & + .masthead__message {
      margin-top: -30px;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__message {
    padding: 30px 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @include media-breakpoint-up(sm) {

    &__image {
      padding: 45px 0;
      & + .masthead__message {
        margin-top: -45px;
      }
    }

    &__message {
      padding: 45px 0;
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &__image {
      padding: 55px 0;
      & + .masthead__message {
        margin-top: -55px;
      }
    }

    &__message {
      padding: 55px 0;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__image,
    &__message {
      padding: 0;
      margin: 0;
    }

    &__image {
      height: 70%;
      margin: auto;
      img {
        width: auto;
        height: 100%;
      }
      & + .masthead__message {
        margin-top: 0;
      }
    }

    &__main {
      height: 320px;
      //padding-right: 7.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
    }

    &__message {
      width: 60%;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__main {
      height: 400px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__main {
      height: 480px;
    }

  } // min width xxl

} // .masthead
