//////////////////////////////////////////////////////////
////  Menu | Vars
//////////////////////////////////////////////////////////

$button-circle: 90px;
$button-circle--sm: 100px;
$button-circle--md: 120px;
$button-circle--lg: 130px;

//////////////////////////////////////////////////////////
////  Menu | Styles
//////////////////////////////////////////////////////////

.menu {
  
  font-family: var(--theme-font-family--mono--apercu);
  
  &__list,
  &__item {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  &__item {
    text-transform: uppercase;
    letter-spacing: 0.125em;
    a, button {
      transition: all 280ms;
      display: block;
      color: inherit;
      line-height: 0.9;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      cursor: pointer;
    }
    button {
      outline: none;
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
      text-transform: inherit;
      letter-spacing: inherit;
    }
  }
  
  &__list {
    display: flex;
  }
  
  &--mobile-menu {
    .menu__item {
      width: 100%;
      font-size: 24px;
      a {
        display: inline-block;
        width: auto;
      }
      & + .menu__item {
        margin-top: 12px;
      }
    }      
    .menu__list {
      flex-flow: row wrap;
      & + .menu__list {
        margin: 32px 0 0 0;
      }
    }
  }
  
  &--main-menu,
  &--shop {
    .menu__item {
      display: inline-block;
      a, button {
        &:hover, &:focus {
          color: rgba( var(--theme-blue), 1 );
        }
      }
      &.active {
        a {
          color: rgba( var(--theme-blue), 1 );
        }
      }
    }
  }
    
  &--footer-main-menu,
  &--footer-extra-menu,
  &--footer-legal-menu {
    .menu__item {
      color: rgba( var(--theme-black), 1 );
      opacity: 0.9;
      font-size: 14px;
      a {
        &:hover, &:focus {
          opacity: 0.4;  
        }
      }
      &.active {
        a {
          opacity: 0.4; 
        }
      }
      & + .menu__item {
        margin-top: 16px;
      }
    } 
  }
  
  &--footer-legal-menu {
    .menu__item {
      a {
        opacity: 0.4;
        &:hover, &:focus {
          opacity: 1;  
        }
      }
      &.active {
        a {
          opacity: 1;
        }
      }
    }  
  }
  
  @include media-breakpoint-up(sm) {
    
    &--mobile-menu {
      .menu__item {
        font-size: 30px;
      }      
      .menu__list {
        flex-flow: row wrap;
        & + .menu__list {
          margin: 40px 0 0 0;
        }
      }
    }

  } // min width sm
  
 @include media-breakpoint-up(md) {
    
    &--mobile-menu {
      .menu__item {
        font-size: 38px;
      }      
      .menu__list {
        flex-flow: row wrap;
        & + .menu__list {
          margin: 45px 0 0 0;
        }
      }
    }
    
  } // min width md
  
  @include media-breakpoint-up(lg) {
    
    &--main-menu,
    &--shop {
      color: rgba( var(--theme-black), 1 );
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      .menu__item {
        font-size: 10px;
        display: inline-block;
        & + .menu__item {
          margin-left: 55px;
        }
      }
    }
    
    &--main-menu {
      justify-content: flex-start;
    }
    
    &--shop {
      justify-content: flex-end;
    }
    
  } // min width lg
  
  @include media-breakpoint-up(xl) {
    
    &--main-menu,
    &--shop {
      .menu__item {
        font-size: 12px;
        & + .menu__item {
          margin-left: 65px;
        }
      }
    }
    
  } // min width xl
  
  @include media-breakpoint-up(xxl) {
    
    &--main-menu,
    &--shop {
      .menu__item {
        font-size: 14px;
        & + .menu__item {
          margin-left: 75px;
        }
      }
    }
    
  } // min width xxl
  
} // .menu
