//////////////////////////////////////////////////////////
////  Meta | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Meta | Styles
//////////////////////////////////////////////////////////

.meta {

  @include mono();
  display: inline-flex;
  color: var(--theme-color-tertiary);
  align-items: center;

  a {
    color: var(--theme-color-secondary);
    transition: opacity 180ms;
    &:hover {
      opacity: var(--theme-opacity-on-hover);
    }
  }

  &--mono {
    font-family: var(--theme-font-family--mono--apercu);
  }

  &--related-articles {
    color: var(--theme-color-secondary);
  }

  &--link {
    transition: opacity 180ms;
    color: var(--theme-color-secondary);
    &:focus,
    &:hover {
      opacity: var(--theme-opacity-on-hover);
      color: inherit;
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
