//////////////////////////////////////////////////////////
////  Modal | Variables
//////////////////////////////////////////////////////////

:root {

  --theme-modal-btn-close-size: 24px;
  --theme-modal-btn-close-size--sm: 24px;
  --theme-modal-btn-close-size--md: 24px;
  --theme-modal-btn-close-size--lg: 24px;
  --theme-modal-btn-close-size--xl: 26px;
  --theme-modal-btn-close-size--xxl: 28px;

}

$close-btn-size: 24px;
$close-btn-size--lg: 20px;
$close-btn-size--xl: 25px;
$close-btn-size--xxl: 30px;

//////////////////////////////////////////////////////////
////  Modal | Styles
//////////////////////////////////////////////////////////

// body.torpedo {
//   .modal--share {
//     .modal__overlay {
//       background: rgba( var(--theme-purple), 0.95 );
//     }
//   }
// }

.modal {

  transition: height 280ms, opacity 280ms, top 280ms;
  height: calc( 100% - var(--theme-header-height) );
  top: var(--theme-header-height);
  overflow-y: hidden;
  z-index: 150;

  &__brand {
    display: block;
    img, svg {
      display: block;
      margin-left: auto;
    }
    svg {
      fill: rgba( var(--theme-white), 1 );
    }
  }

  &__button {
    width: var(--theme-modal-btn-close-size);
    height: var(--theme-modal-btn-close-size);
    top: calc( 1.0 * var(--theme-gutter) );
    right: calc( 1.0 * var(--theme-gutter) );
    position: absolute;
    margin: 0 0 0 auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    svg {
      fill: rgba( var(--theme-white), 1 );
    }
    &:hover {
      opacity: var(--theme-opacity-on-hover);
    }
  }

  &__content {
    padding: 0;
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 450px;
    color: inherit;
  }

  &__container {
    background-color: transparent;
    padding: 0px;
    max-width: none;
    height: 100%;
    width: 100% !important;
    border-radius: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__heading {
    font-family: var(--theme-font-family--display--mafra);
    text-transform: none;
    line-height: 1;
    font-size: 35px;
    margin: 0 0 45px 0;
    color: inherit;
    span {
      display: inline-block;
      width: 100%;
    }
  }

  &__main {
    position: relative;
  }

  &__overlay {
    position: absolute;
    &:focus {
      outline: none;
    }
  }

  &__share {
    &-icon {
      height: 45px;
      width: auto;
      svg {
        height: 100%;
        width: auto;
        display: block;
        fill: rgba( var(--theme-white), 1 );
      }
    }
    &-item {
      & + .modal__share-item {
        margin-left: 50px;
      }
    }
    &-link {
      transition: opacity 280ms;
      display: block;
      &:hover {
        opacity: var(--theme-opacity-on-hover);
      }
    }
    &-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
    }
  }

  // ---------------------------------------- Newsletter
  &[data-style="newsletter"] {
    .form {
      input {
        font-size: 15px;
        padding: 5px 0;
      }
      &__field,
      &__row {
        width: 100%;
      }
      &__error {
        font-size: 10px;
      }
      &__row {
        &.action {
          margin-top: 84px;
        }
        & + .form__row {
          &:not(.action) {
            margin-top: 8px;
          }
        }
      }
    }
    .modal {
      &__brand {
        position: relative;
        margin: 18px 0 0 auto;
        width: 55px;
      }
    }
  }

  // ---------------------------------------- Share
  &[data-style="share"] {
    .modal {
      &__heading {
        text-align: center;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    height: calc( 100% - var(--theme-header-height--sm) );
    top: var(--theme-header-height--sm);

    &__button {
      width: var(--theme-modal-btn-close-size--sm);
      height: var(--theme-modal-btn-close-size--sm);
      top: calc( 2.0 * var(--theme-gutter) );
      right: calc( 2.0 * var(--theme-gutter) );
    }

    &__content {
      max-width: 650px;
      padding: 0 var(--theme-gutter);
    }

    &__share {
      &-icon {
        height: 48px;
      }
    }

    // ---------------------------------------- Newsletter
    &[data-style="newsletter"] {
      .form {
        input {
          font-size: 17px;
          padding: 5px 0;
        }
        &__error {
          font-size: 12px;
        }
        &__row {
          &.action {
            margin-top: 104px;
          }
          & + .form__row {
            &:not(.action) {
              margin-top: 10px;
            }
          }
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    height: calc( 100% - var(--theme-header-height--md) );
    top: var(--theme-header-height--md);

    &__button {
      width: var(--theme-modal-btn-close-size--md);
      height: var(--theme-modal-btn-close-size--md);
    }

    &__share {
      &-icon {
        height: 52px;
      }
      &-item {
        & + .modal__share-item {
          margin-left: 60px;
        }
      }
    }

    // ---------------------------------------- Newsletter
    &[data-style="newsletter"] {
      .form {
        input {
          font-size: 19px;
          padding: 5px 0;
        }
        &__error {
          font-size: 14px;
        }
        &__row {
          &.action {
            margin-top: 124px;
          }
          & + .form__row {
            &:not(.action) {
              margin-top: 12px;
            }
          }
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    height: calc( 100% - var(--theme-header-height--lg) );
    top: var(--theme-header-height--lg);

    &__button {
      width: var(--theme-modal-btn-close-size--lg);
      height: var(--theme-modal-btn-close-size--lg);
      top: 0;
      right: 0;
    }

    &__content {
      max-width: none;
      padding: 0 25% 0 0;
      margin: 0;
    }

    &__heading {
      span {
        width: auto;
      }
    }

    &__share {
      &-icon {
        height: 60px;
      }
      &-item {
        & + .modal__share-item {
          margin-left: 110px;
        }
      }
      &-links {
        justify-content: flex-start;
      }
    }

    // ---------------------------------------- Newsletter
    &[data-style="newsletter"] {
      .form {
        input {
          font-size: 14px;
          padding: 5px 0;
        }
        &__error {
          font-size: 10px;
        }
        &__row {
          &.action {
            margin-top: 100px;
          }
          & + .form__row {
            &:not(.action) {
              margin-top: 10px;
            }
          }
        }
      }
      .modal {
        &__brand {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;
        }
      }
    }

    // ---------------------------------------- Share
    &[data-style="share"] {
      .modal {
        &__heading {
          text-align: left;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    height: calc( 100% - var(--theme-header-height--xl) );
    top: var(--theme-header-height--xl);

    &__button {
      width: var(--theme-modal-btn-close-size--xl);
      height: var(--theme-modal-btn-close-size--xl);
    }

    &__share {
      &-icon {
        height: 70px;
      }
      &-item {
        & + .modal__share-item {
          margin-left: 120px;
        }
      }
    }

    // ---------------------------------------- Newsletter
    &[data-style="newsletter"] {
      .form {
        input {
          font-size: 15px;
          padding: 5px 0;
        }
        &__error {
          font-size: 11px;
        }
        &__row {
          &.action {
            margin-top: 110px;
          }
          & + .form__row {
            &:not(.action) {
              margin-top: 10px;
            }
          }
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    height: calc( 100% - var(--theme-header-height--xxl) );
    top: var(--theme-header-height--xxl);

    &__button {
      width: var(--theme-modal-btn-close-size--xxl);
      height: var(--theme-modal-btn-close-size--xxl);
    }

    &__share {
      &-icon {
        height: 80px;
      }
      &-item {
        & + .modal__share-item {
          margin-left: 130px;
        }
      }
    }

    // ---------------------------------------- Newsletter
    &[data-style="newsletter"] {
      .form {
        input {
          font-size: 16px;
          padding: 5px 0;
        }
        &__error {
          font-size: 12px;
        }
        &__row {
          &.action {
            margin-top: 120px;
          }
          & + .form__row {
            &:not(.action) {
              margin-top: 10px;
            }
          }
        }
      }
    }

  } // min width xxl

} // .modal
