//////////////////////////////////////////////////////////
////  Newsletter | Vars
//////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////
////  Newsletter | Styles
//////////////////////////////////////////////////////////

.newsletter {

  .form {

    input {
      @include body-copy();
      @include placeholder {
        color: rgba( var(--theme-white), $placeholder-text-opacity );
      }
      background: transparent;
      outline: none;
      border: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba( var(--theme-white), 1 );
      line-height: .9;
      padding: 6px 0;
      color: rgba( var(--theme-white), 1 );
      font-family: var(--theme-font-family--sans-serif--apercu);
      font-weight: 300;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }

    &__button {
      border-color: rgba( var(--theme-white), 1 );
      color: rgba( var(--theme-white), 1 );
      margin: 30px 0 0 0;
      outline: none;
    }

  }

  &__heading {
    font-family: var(--theme-font-family--display--mafra);
    font-weight: bold;
    text-transform: none;
    margin: 0 0 30px 0;
  }

  &--careers,
  &--default-page {
    padding: 40px 0;
    .form {}
    .newsletter {}
  }

  // ---------------------------------------- Careers Newsletter

  &--careers {
    .form {}
    .newsletter {}
  }

  // ---------------------------------------- Default Page Newsletter

  &--default-page {
    .form {}
    .newsletter {}
  }

  // ---------------------------------------- Footer Newsletter

  &--footer {
    .form {
      input {
        @include placeholder {
          color: rgba( var(--theme-black), $placeholder-text-opacity );
        }
        border-bottom-color: rgba( var(--theme-black), 1 );
        color: rgba( var(--theme-black), 1 );
        font-family: var(--theme-font-family--mono--apercu);
        font-weight: 300;
        letter-spacing: 0.125em;
        text-transform: uppercase;
      }
      &__button {
        border-color: var(--theme-black) !important;
        color: var(--theme-black) !important;
        &:focus,
        &:hover {
          background: var(--theme-black) !important;
          color: var(--theme-white) !important;
        }
      }
    }
  }

  // ---------------------------------------- Modal Newsletter

  &--modal {
    .form {
      &__main {
        min-height: 140px;
      }
    }
    .newsletter {
      &__brand {
        position: relative;
        margin: 0 0 0 auto;
        width: 55px;
        margin-top: 18px;
        margin-right: 9px;
      }
      &__heading {
        font-size: calc( 0.95 * var(--theme-font-size--heading) );
        span {
          display: block;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {

    // ---------------------------------------- Modal Newsletter

    &--modal {
      .newsletter {
        &__brand {}
        &__heading {
          font-size: calc( 1.1 * var(--theme-font-size--heading--sm) );
        }
      }
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    // ---------------------------------------- Modal Newsletter

    &--modal {
      .newsletter {
        &__brand {}
        &__heading {
          font-size: calc( 1.1 * var(--theme-font-size--heading--md) );
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &--careers,
    &--default-page {
      padding: 65px 25px 0;
      .form {}
      .newsletter {}
    }

    // ---------------------------------------- Modal Newsletter

    &--modal {
      .newsletter {
        &__brand {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;
        }
        &__heading {
          font-size: 26px;
          span {
            display: inline-block;
          }
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &--careers,
    &--default-page {
      padding-top: 70px;
      .form {}
      .newsletter {}
    }

    // ---------------------------------------- Modal Newsletter

    &--modal {
      .newsletter {
        &__brand {}
        &__heading {
          font-size: 33px;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &--careers,
    &--default-page {
      padding-top: 82px;
      .form {}
      .newsletter {}
    }

    // ---------------------------------------- Modal Newsletter

    &--modal {
      .newsletter {
        &__brand {}
        &__heading {
          font-size: 39px;
        }
      }
    }

  } // min width xxl

} // .newsletter
