//////////////////////////////////////////////////////////
////  Pagination | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Pagination | Styles
//////////////////////////////////////////////////////////

.pagination {

  padding: calc( 2.3333 * var(--theme-gutter) ) 0 0 0;

  .not-active {
    opacity: .15;
  }

  &__item {
    @include mono();
    color: var(--theme-color-tertiary);
    margin: 0 10px;
    a {
      color: inherit;
      &:hover {
        color: var(--theme-color-secondary);
      }
    }
    .current {
      color: var(--theme-color-secondary);
    }
  }

  &__main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  @include media-breakpoint-up(sm) {

    &__button,
    &__link {
      font-size: 13px;
      margin: 0 12px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__button,
    &__link {
      font-size: 14px;
      margin: 0 14px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__button,
    &__link {
      font-size: 11px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__button,
    &__link {
      font-size: 12px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__button,
    &__link {
      font-size: 13px;
    }

  } // min width xxl

} // .pagination
