//////////////////////////////////////////////////////////
////  Press | Vars
//////////////////////////////////////////////////////////

:root {
  --theme-press-item-height: auto;
}

//////////////////////////////////////////////////////////
////  Press | Styles
//////////////////////////////////////////////////////////

.press {

  .navigation {

    &__item,
    &__label {
      margin-right: 30px;
    }
    &__label,
    &__link {
      @include mono();
      color: rgba( var(--theme-color-secondary) 1 );
    }
    &__item {
      margin-bottom: 18px;
    }
    &__link {
      cursor: pointer;
      &.active,
      &:hover {
        color: rgba( var(--theme-link-active-primary), 1 );
      }
    }
    &__list {
      display: inline-flex;
      justify-content: flex-start;
      align-items: baseline;
      flex-flow: row wrap;
      flex: 1;
      margin-bottom: -18px;
    }
    &__main {
      padding: 25px 0;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: baseline;
      flex-flow: row nowrap;
    }
  }

  .row--inner {
    margin-bottom: -35px;
    [class^="col-"] {
      margin-bottom: 35px;
    }
  }

  &__cta {
    a {
      color: var(--theme-color-secondary);
      transition: opacity 280ms;
      &:hover {
        opacity: var(--theme-opacity-on-hover);
        color: inherit;
      }
    }
  }

  &__grid {
    & + .press__grid {
      margin-top: 35px;
    }
    &.all {
      .press__title {
        font-size: 25px;
      }
    }
    &.featured {
      .press__title {
        font-size: 32px;
      }
    }
  }

  &__image {
    position: relative;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    a {
      transition: opacity 280ms;
      &:hover {
        opacity: var(--theme-opacity-on-hover);
      }
    }
  }

  &__item {
    border-top-width: var(--theme-border-width);
    border-top-color: var(--theme-color-secondary);
    border-top-style: solid;
    padding-top: 20px;
    &.wide {
      .press__image img {
        height: var(--theme-press-item-height);
      }
    }
  }

  &__meta {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    margin-bottom: 12px;
  }

  @include media-breakpoint-up(sm) {

    &__grid {
      &.all {
        .press__title {
          font-size: 25px;
        }
      }
      &.featured {
        .press__title {
          font-size: 32px;
        }
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__grid {
      &.all {
        .press__title {
          font-size: 21px;
        }
      }
      &.featured {
        .press__title {
          font-size: 30px;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .navigation {
      &__item,
      &__label {
        margin-right: 30px;
      }
    }

    .row--inner {
      margin-bottom: -45px;
      [class^="col-"] {
        margin-bottom: 45px;
        // &:first-child {
        //   .press__title.title--press {
        //     font-size: 22px;
        //   }
        // }
      }
    }

    &__grid {
      & + .press__grid {
        margin-top: 45px;
      }
      &.all {
        .press__title {
          font-size: 21px;
        }
      }
      &.featured {
        .press__title {
          font-size: 27px;
        }
      }
    }

    &__image {
      img {
        height: 100%;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__grid {
      &.all {
        .press__title {
          font-size: 22px;
        }
      }
      &.featured {
        .press__title {
          font-size: 28px;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__grid {
      &.all {
        .press__title {
          font-size: 24px;
        }
      }
      &.featured {
        .press__title {
          font-size: 30px;
        }
      }
    }

  } // min width xxl

} // .press
