//////////////////////////////////////////////////////////
////  Product | Vars
//////////////////////////////////////////////////////////

$product-image-height: 300px;
$product-image-height--sm: 340px;
$product-image-height--md: 380px;
$product-image-height--lg: 320px;
$product-image-height--xl: 360px;
$product-image-height--xxl: 400px;

//////////////////////////////////////////////////////////
////  Product | Styles
//////////////////////////////////////////////////////////

.product {

  .sticky-column {
    &__featured-image {
      height: auto;
    }
  }

  a {
    color: inherit;
  }

  .article__content {
    margin-top: calc( 2.0 * var(--theme-gutter-mobile) );
    padding-top: 0;
  }

  &__cta,
  &__buy-button {
    margin: 30px 0 0 0;
  }

  &__desc {
    margin-top: 20px;
  }

  &__featured-image {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
    }
  }

  &__price {
    &.heading {
      margin: 0;
    }

  }

  &__title {
    &.heading {
      margin: 30px 0 0 0;
    }
  }

  .product {
    &__price--listing {
      color: var(--theme-color-tertiary);
      font-family: var(--theme-font-family--sans-serif--apercu);
      line-height: 1;
      .wps-product-individual-price {
        font-size: inherit;
        color: inherit;
      }
    }
  }

  &--curated {
    .product {
      &__price--listing {
        font-size: 17px;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &--curated {
      .product {
        &__price--listing {
          font-size: 19px;
        }
      }
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &--curated {
      .product {
        &__price--listing {
          font-size: 21px;
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .article {
      &__content {
        margin-top: 0;
      }
    }

    .sticky-column {
      &__column--stuck {
        .sticky-column__content {
          border-right: 1px solid var(--theme-color-secondary);
        }
      }
    }

    .wps-component-products-buy-button {
      flex-flow: nowrap;
      justify-content: flex-start;
    }

    .wps-product-individual-price {
      font-size: calc( 0.66 * var(--theme-font-size--heading--lg) );
    }

    .wpshopify-products-variant-buttons {
      width: auto;
      margin: 0 10px 0 0;
      padding: 0;
    }

    .wpshopify-variant-buttons-group {
      margin: 0;
      padding: 0;
      width: auto;
    }

    .sticky-column__content-bottom {
      padding-bottom: var(--theme-gutter-mobile);
    }

    .wpshopify-variant-buttons {
      button {
        width: var(--theme-button-min-height--lg);
        height: var(--theme-button-min-height--lg);
        margin-right: 6px;
      }
    }

    &__desc {
      padding-right: calc( 2.5 * var(--theme-gutter-mobile) );
    }

    &__featured-image {
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }

    &--curated {
      .product {
        &__price--listing {
          font-size: 17px;
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .wps-product-individual-price {
      font-size: calc( 0.66 * var(--theme-font-size--heading--xl) );
    }

    .wpshopify-variant-buttons {
      button {
        width: var(--theme-button-min-height--xl);
        height: var(--theme-button-min-height--xl);
        margin-right: 8px;
      }
    }

    .wpshopify-products-variant-buttons {
      margin: 0 12px 0 0;
    }

    &--curated {
      .product {
        &__price--listing {
          font-size: 19px;
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .wps-product-individual-price {
      font-size: calc( 0.66 * var(--theme-font-size--heading--xxl) );
    }

    .wpshopify-variant-buttons {
      button {
        width: var(--theme-button-min-height--xxl);
        height: var(--theme-button-min-height--xxl);
        margin-right: 10px;
      }
    }

    .wpshopify-products-variant-buttons {
      margin: 0 14px 0 0;
    }

    &--curated {
      .product {
        &__price--listing {
          font-size: 21px;
        }
      }
    }

  } // min width xxl

} // .product
