//////////////////////////////////////////////////////////
////  Share | Variables
//////////////////////////////////////////////////////////

$icon-height: 58px;
$icon-height--sm: 58px;
$icon-height--md: 58px;
$icon-height--lg: 60px;
$icon-height--xl: 70px;
$icon-height--xxl: 80px;

//////////////////////////////////////////////////////////
////  Share | Styles
//////////////////////////////////////////////////////////

body.torpedo {
  .share {
    .modal__overlay {
      background: rgba( var(--theme-purple), 0.95 );
    }
  }
}

.share {

  &__list,
  &__item {
    margin:0;
    padding: 0;
    list-style: none;
  }

  &__heading {
    text-align: center;
  }

  &__item {
    height: $icon-height;
    a, img {
      display: block;
      height: 100%;
      width: auto;
    }
    a {
      &:hover, &:focus {
        opacity: 0.5;
      }
    }
    & + .share__item {
      margin-left: 50px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row nowrap;
  }

  @include media-breakpoint-up(sm) {

    &__item {
      height: $icon-height--sm;
      & + .share__item {
        margin-left: 50px;
      }
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &__item {
      height: $icon-height--md;
      & + .share__item {
        margin-left: 50px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__heading {
      text-align: left;
    }

    &__item {
      height: $icon-height--lg;
      & + .share__item {
        margin-left: 110px;
      }
    }

    &__list {
      justify-content: flex-start;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__item {
      height: $icon-height--xl;
      & + .share__item {
        margin-left: 120px;
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__item {
      height: $icon-height--xxl;
      & + .share__item {
        margin-left: 130px;
      }
    }

  } // min width xxl

} // .share
