//////////////////////////////////////////////////////////
////  Shop | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Shop | Styles
//////////////////////////////////////////////////////////

.shop {

  .product {
    margin: 0;
    margin-bottom: calc( 1.5 *  var(--theme-gutter-mobile) );
    a {
      display: block;
      width: 100%;
      height: auto;
      &:hover,
      &:focus {
        img {
          opacity: 0.5;
        }
        .product {
          &__price,
          &__title {
            // color: tint( $theme-black, 33% );
          }
        }
      }
    }

    &__image {
      &--listing {
        width: 100%;
        display: block;
        left: unset;
        height: auto;
      }
    }

    &__title {
      &--listing {
        font-family: var(--theme-font-family--display--adobe-caslon-pro);
        font-size: calc( 0.7 *  var(--theme-font-size--heading) );
        font-weight: normal;
        margin: 20px 0 4px 0;
        color: inherit;
      }
    }

  }

  .product-listing {
    margin-top: calc( 2.0 * var(--theme-gutter-mobile) );
    margin-bottom: calc( -1.5 * var(--theme-gutter-mobile) );
  }

  @include media-breakpoint-up(sm) {

    .product {
      &__title {
        &--listing {
          font-size: calc( 0.7 *  var(--theme-font-size--heading--sm) );
        }
      }
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    .product {
      &__title {
        &--listing {
          font-size: calc( 0.6 *  var(--theme-font-size--heading--md) );
        }
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .product {
      &__title {
        &--listing {
          font-size: calc( 0.52 *  var(--theme-font-size--heading--lg) );
        }
      }
    }

    .product-listing {
      margin-top: 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .product {
      &__title {
        &--listing {
          font-size: calc( 0.52 *  var(--theme-font-size--heading--xl) );
        }
      }
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .product {
      &__title {
        &--listing {
          font-size: calc( 0.52 *  var(--theme-font-size--heading--xxl) );
        }
      }
    }

  } // min width xxl

}
