//////////////////////////////////////////////////////////
////  Sticky Column | Variables
//////////////////////////////////////////////////////////

$vr-offset--lg: 66px;
$vr-offset--xl: 80px;
$vr-offset--xxl: 92px;

//////////////////////////////////////////////////////////
////  Sticky Column | Styles
//////////////////////////////////////////////////////////

.sticky-column {

  &__column {
    width: 100%;
  }

  &__column {
    .sticky-column__main {
      padding-left: var(--theme-gutter-mobile);
      padding-right: var(--theme-gutter-mobile);
    }
  }

  &__column--scroll {
    .sticky-column__main {
      padding: var(--theme-gutter-mobile);
    }
  }

  &__container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  &__content {
    display: flex;
    min-height: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
  }

  &__content-bottom,
  &__content-top {
    transition: margin 280ms;
  }

  &__featured-image {
    width: 100%;
    width: calc( 100% + ( 2.0 * var(--theme-gutter-mobile) ) );
    left: calc( -1.0 * var(--theme-gutter-mobile) );
    position: relative;
    &.product__image {
      img {
        display: block;
        width: 100%;
      }
      div {
        display: none;
      }
    }
  }

  &__main {
    position: relative;
  }

  &__vr {
    display: none;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__column {
      display: block;
      width: 50%;
    }

    &__column--stuck {
      height: auto;
      min-height: 100%;
      position: relative;
      overflow-y: visible;
      .sticky-column__main {
        position: sticky;
        height: 100vh;
        top: 0;
        padding: 0;
      }
    }

    &__container {
      flex-flow: row nowrap;
    }

    &__content-bottom,
    &__content-top {
      padding: var(--theme-gutter);
    }

    &__content-top {
      margin-top: $theme-header-height-smaller-ratio--desktop * $theme-header-height--lg;
      padding-top: 0;
    }

    &__featured-image {
      height: $theme-sticky-featured-image-height--lg;
      &.product__image {
        border-bottom: 1px solid rgba( var(--theme-black), 1 );
        img {
          display: none;
        }
        div {
          display: block;
        }
      }
    }

    &__vr {
      background: #fff;
      height: calc( 100% - #{$vr-offset--lg} );
      top: $vr-offset--lg;
      display: block;
      width: 1px;
      position: absolute;
      right: 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__content-top {
      margin-top: $theme-header-height-smaller-ratio--desktop * $theme-header-height--xl;
    }

    &__featured-image {
      height: $theme-sticky-featured-image-height--xl;
    }

    &__vr {
      height: calc( 100% - #{$vr-offset--xl} );
      top: $vr-offset--xl;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__content-top {
      margin-top: $theme-header-height-smaller-ratio--desktop * $theme-header-height--xxl;
    }

    &__featured-image {
      height: $theme-sticky-featured-image-height--xxl;
    }

    &__vr {
      height: calc( 100% - #{$vr-offset--xxl} );
      top: $vr-offset--xxl;
    }

  } // min width xxl

} // .sticky
