//////////////////////////////////////////////////////////
////  Text & Links | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Text & Links | Styles
//////////////////////////////////////////////////////////

.text-links {

  &__ctas {
    margin: 40px 0 0 0;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    a {
      margin: 0 30px 30px 30px;
      min-width: 260px;
      &:first-child {
       // margin-left: 0;
      }
      &:last-child {
        //margin-right: 0;
      }
    }
  }

  &__heading {
    padding: 0 !important;
  }

  &__cta-item,
  &__cta-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__cta-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px 0;
  }

  &__cta {
    width: 100%;
    margin-top: 30px;
    display: block;
    text-align: center;
    .cta {
      margin: auto;
      width: auto;
      display: inline-flex;
    }
    &:first-child {}
  }

  &__main {
    padding: 65px 0 40px;
  }

  @include media-breakpoint-up(sm) {

    &__ctas {
      margin: 40px 0 0 0;
      justify-content: space-evenly;
      a {
        min-width: 220px;
        margin: 0 15px 30px 15px;
      }
    }

  } // min width sm

 @include media-breakpoint-up(md) {

    &__ctas {
      margin: 40px 0 0 0;
    }

    &__cta-list {
      width: 70%;
      margin: auto;
    }

    &__cta {
      width: 50%;
      margin-top: 30px;
      display: block;
      text-align: center;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__ctas {
      margin: 40px 0 0 0;
      a {
        min-width: 160px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__cta-list {
      width: 100%;
      margin: auto;
      justify-content: space-between;
      padding: 35px 0 10px;
    }

    &__cta {
      width: auto;
      margin-top: 0;
    }

    &__message {
      column-count: 2;
      column-gap: 80px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__ctas {
      a {
        min-width: 180px;
      }
    }

    &__cta-list {
      padding: 45px 0 15px;
    }

    &__message {
      column-gap: 90px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    &__ctas {
      a {
        min-width: 200px;
      }
    }

    &__cta-list {
      padding: 55px 0 25px
    }

    &__message {
      column-gap: 100px;
    }

  } // min width xxl

} // .text-links
