//////////////////////////////////////////////////////////
////  Title | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Title | Styles
//////////////////////////////////////////////////////////

.title {

  color: var(--theme-color-secondary);
  font-family: var(--theme-font-family--display--adobe-caslon-pro);
  font-weight: normal;
  line-height: 1.1;
  font-size: 24px;
  text-transform: none;

  &--article-curated {
    line-height: 1;
  }

  &--article-featured {
    font-family: var(--theme-font-family--display--mafra);
    font-size: 32px;
    font-weight: 700;
  }

  &--article-title {
    font-family: var(--theme-font-family--display--mafra);
    font-size: 32px;
  }

  &--article-related {
    margin-bottom: 15px;
  }

  &--no-press {
    margin: 0;
    padding: 30px 0 60px;
  }

  @include media-breakpoint-up(sm) {

    font-size: 28px;

    &--article-curated {
      font-size: 25px;
    }

    &--article-featured {
      font-size: 42px;
    }

    &--article-title {
      font-size: 42px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    font-size: 32px;

    &--article-curated {
      font-size: 27px;
    }

    &--article-featured {
      font-size: 52px;
    }

    &--article-title {
      font-size: 52px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    font-size: 26px;

    &--article-curated {
      font-size: 20px;
    }

    &--article-featured {
      font-size: 32px;
    }

    &--article-title {
      font-size: 32px;
    }

    &--article-related {
      font-size: 24px;
      margin-bottom: 8px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    font-size: 30px;

    &--article-curated {
      font-size: 23px;
    }

    &--article-featured {
      font-size: 42px;
    }

    &--article-title {
      font-size: 42px;
    }

    &--article-related {
      font-size: 24px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    font-size: 34px;

    &--article-curated {
      font-size: 26px;
    }

    &--article-featured {
      font-size: 52px;
    }

    &--article-title {
      font-size: 52px;
    }

    &--article-related {
      font-size: 24px;
    }

  } // min width xxl

} // .title
