//////////////////////////////////////////////////////////
////  WP Shopify | General | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  WP Shopify | General | Styles
//////////////////////////////////////////////////////////

.wps-cart-icon-fixed {
  display: none;
}

.wps-items-wrapper {
  margin: 0;
  padding: 0;
  max-width: none;
}
