//////////////////////////////////////////////////////////
////  WP Shopify | Product | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  WP Shopify | Shop | Styles
//////////////////////////////////////////////////////////

.wps-shop {

  .wps-product-individual-price {
    font-size: 16px;
    margin: 5px 0 0 0;
  }

  @include media-breakpoint-up(sm) {

    .wps-product-individual-price {
      font-size: 20px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .wps-product-individual-price {
      font-size: 20px;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .wps-product-individual-price {
      font-size: 16px;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .wps-product-individual-price {
      font-size: 18px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .wps-product-individual-price {
      font-size: 20px;
    }

  } // min width xxl

}
