//////////////////////////////////////////////////////////
////  WP Shopify | Product | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  WP Shopify | Product | Styles
//////////////////////////////////////////////////////////

.wps-product {

  .wps-component-products-add-button {
    position: relative;
    button {
      @include button( 'pill' );
      width: auto;
    }
    .wps-notice-text {
      color: rgba(var(--theme-red), 1);
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px 0 0 0;
      text-align: center;
      max-width: var(--theme-button-min-width);
      position: absolute;
    }
  }

  .wps-component-products-buy-button {
    p {
      display: none;
    }
  }

  .wps-items-list {
    display: block;
    grid-template-columns: unset;
    gap: unset;
    max-width: none;
    padding: 0px;
    margin: 0;
  }

  .wps-product-individual-price {
    color: var(--theme-color-tertiary);
    font-family: var(--theme-font-family--sans-serif--apercu);
    font-size: calc( 0.66 * var(--theme-font-size--heading) );
    font-weight: 300;
    display: block;
    margin: 5px 0 0 0;
  }

  .wpshopify-products-variant-buttons {
    margin: 0;
    padding: 0;
    label {
      display: none;
    }
    button {
      @include button( 'circle' );
      & + button {
        margin-left: 10px;
      }
    }
  }

  .wpshopify-variant-buttons-group {
    margin-bottom: 25px;
  }

  // ---------------------------------------- Black
  &[data-background-colour="black"] {

    .wps-component-products-add-button {
      button {
        background: rgba( var(--theme-white), 1 );
        color: rgba( var(--theme-black), 1 );
      }
    }

    .wpshopify-products-variant-buttons {
      button {
        border-color: rgba( var(--theme-white), 1 );
        color: rgba( var(--theme-white), 1 );
        &[data-is-variant-selected="true"],
        &:focus,
        &:hover {
          background:  rgba( var(--theme-white), 1 );
          color: rgba( var(--theme-black), 1 );
        }
      }
    }

  }

  // ---------------------------------------- White
  [data-background-colour="white"] {

    .wps-component-products-add-button {
      button {
        background: rgba( var(--theme-white), 1 );
        color: rgba( var(--theme-black), 1 );
      }
    }

    .wpshopify-products-variant-buttons {
      button {
        border-color: rgba( var(--theme-black), 1 );
        color: rgba( var(--theme-black), 1 );
        &[data-is-variant-selected="true"],
        &:focus,
        &:hover {
          background:  rgba( var(--theme-black), 1 );
          color: rgba( var(--theme-white), 1 );
        }
      }
    }

  }

  @include media-breakpoint-up(sm) {

    .wps-component-products-add-button {
      .wps-notice-text {
        max-width: var(--theme-button-min-width--sm);
      }
    }

    .wps-product-individual-price {
      font-size: calc( 0.66 * var(--theme-font-size--heading--sm) );
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .wps-component-products-add-button {
      .wps-notice-text {
        max-width: var(--theme-button-min-width--md);
      }
    }

    .wps-product-individual-price {
      font-size: calc( 0.66 * var(--theme-font-size--heading--md) );
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .wps-items-list {
      display: block;
      grid-template-columns: unset;
      gap: unset;
      max-width: none;
      padding: 0px;
      margin: 0;
    }

    .wps-product-individual-price {
      font-size: calc( 0.55 * var(--theme-font-size--heading--lg) );
      margin-top: 8px;
    }

    .wps-product-options {
      & + .wps-component-products-add-button {
        margin-left: var(--theme-gutter);
      }
    }

    .wps-component-products-buy-button {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }

    .wpshopify-variant-buttons-group  {
      margin: 0;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .wps-product-individual-price {
      font-size: calc( 0.55 * var(--theme-font-size--heading--xl) );
      margin-top: 10px;
    }

  } // min width xl

  @include media-breakpoint-up(xxl) {

    .wps-product-individual-price {
      font-size: calc( 0.55 * var(--theme-font-size--heading--xxl) );
      margin-top: 12px;
    }

  } // min width xxl

} // .wpshopify

// // LEGACY
//
//   .wps-items {
//     display: block;
//     gap: unset;
//     max-width: none;
//   }
//
//   .wpshopify-products-variant-buttons {
//     margin: 0;
//   }
//
//   .wpshopify-variant-buttons-group {
//     position: relative;
//     width: 100%;
//     margin: 0;
//     label {
//       display: none;
//     }
//     p {
//       @include body-copy(0.75);
//       color: var(--theme-red);
//       position: absolute;
//       left: 0;
//       top: -25px;
//       font-style: italic;
//     }
//   }
//
//   .wpshopify-variant-buttons {
//     button {
//       width: var(--theme-button-min-height);
//       height: var(--theme-button-min-height);
//       margin-bottom: 0;
//       border-radius: 100px;
//       &:hover,
//       &:focus,
//       &[data-is-variant-selected="true"] {
//         opacity: 1;
//         outline: none;
//         background: rgba( var(--theme-black), 1 );
//         color: rgba( var(--theme-white), 1 );
//         border-color: rgba( var(--theme-black), 1 );
//       }
//     }
//   }
//
//   .wps-product-individual-price {
//     color: var(--theme-color-tertiary);
//     font-family: var(--theme-font-family--sans-serif--apercu);
//     font-size: calc( 0.66 * var(--theme-font-size--heading) );
//     font-weight: 300;
//     line-height: 1;
//   }
//

//
// body,
// .wpshopify {
//
//   button {
//     .wps-add-to-cart {
//       &:hover {
//         background: red;
//       }
//     }
//   }
//
//   .wpshopify-variant-buttons {
//     border: 1px solid red;
//   }
//
//   .product {
//     [data-wpshopify-component] {
//       max-width: none;
//     }
//   }
//
//   .wps-btn,
//   .wps-add-to-cart,
//   .wps-btn-checkout {
//     @include button( 'pill' );
//   }
//
//
//
//   .wps-cart-icon-fixed {
//     display: none;
//   }
//
//   .wps-btn-checkout {
//     width: 100%;
//     margin-top: 15px;
//   }
//
//   .wps-add-to-cart {
//     margin-top: calc( 1.25 * var(--theme-gutter-mobile) );
//   }
//
//   .wps-items-wrapper {
//     margin: 0;
//     padding: 0;
//     max-width: none;
//   }
//
//   @include media-breakpoint-up(sm) {
//
//     .wps-btn,
//     .wps-add-to-cart,
//     .wps-btn-checkout {}
//
//   } // min width sm
//
//   @media (min-width: 600px) {} // min width 600px
//
//   @include media-breakpoint-up(md) {} // min width md
//
//   @include media-breakpoint-up(lg) {
//
//     .wps-add-to-cart {
//       margin-top:0;
//     }
//
//   } // min width lg
//
//   @include media-breakpoint-up(xl) {} // min width xl
//
//   @include media-breakpoint-up(xxl) {} // min width xxl
//
// } // body
