//////////////////////////////////////////////////////////
////  WP Shopify | Cart | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  WP Shopify | Cart | Styles
//////////////////////////////////////////////////////////

.wps-cart {

  // USE THIS INSTEAD OF CART.SCSS. BUILD ON THIS.

  &-footer {}

  &-header {}

  &-contents {
    h2 {
      a {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

} // .wps-cart
